Flow Node-Red/flow-GeneralNotifier-FIFUv1.1.json
[{"id":"f64e7ddf.061fb","type":"tab","label":"GenFlow","disabled":false,"info":""},{"id":"2e1bfb28.0b71c4","type":"exec","z":"f64e7ddf.061fb","command":"curl bot.whatismyipaddress.com","addpay":false,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"Call IP - whatismyipaddress.com","x":390,"y":520,"wires":[["12357bed.8c60b4"],[],[]]},{"id":"ca61b9de.f12cc8","type":"function","z":"f64e7ddf.061fb","name":"Compare IP","func":"context.lastip = context.lastip || 'initial';\nvar currentip = msg.payload;\n\nif (context.lastip == 'initial') {\ncontext.lastip = currentip;\n}\nelse if (context.lastip != currentip) {\ntextoip = \"My IP was changed to: \"+currentip;\ncontext.lastip = currentip;\nreturn {'payload': {'text':textoip}};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":580,"wires":[["f87c45bf.c7e998"]]},{"id":"12357bed.8c60b4","type":"switch","z":"f64e7ddf.061fb","name":"Integrity check","property":"payload","rules":[{"t":"regex","v":"\\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\b"},{"t":"else"}],"checkall":"true","outputs":2,"x":620,"y":520,"wires":[["ca61b9de.f12cc8"],[]]},{"id":"d8634a00.9764e8","type":"comment","z":"f64e7ddf.061fb","name":"Telegram Commands","info":"","x":400,"y":20,"wires":[]},{"id":"a9c9eec7.95aa7","type":"link in","z":"f64e7ddf.061fb","name":"TelegramIN","links":["1da0e32e.267e6d","1f2a450a.0e8c3b","446fa548.78d97c","7a19f858.e62ba8","e1ab5e55.fc3b1","c04c450e.d21948","7e61d5f9.de157c"],"x":935,"y":640,"wires":[["f87c45bf.c7e998"]]},{"id":"994271d2.38996","type":"comment","z":"f64e7ddf.061fb","name":"Check IP","info":"","x":360,"y":460,"wires":[]},{"id":"d73983cf.8ccff","type":"inject","z":"f64e7ddf.061fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"14400","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":170,"y":520,"wires":[["2e1bfb28.0b71c4"]]},{"id":"82304999.1508c8","type":"telegrambot-command","z":"f64e7ddf.061fb","name":"/status","bot":"","command":"/status","commandType":"str","commandCase":true,"x":110,"y":80,"wires":[["74726f28.ba395"]]},{"id":"dea38d17.76383","type":"api-current-state","z":"f64e7ddf.061fb","name":"Temperature Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.led1_si7021_temperature","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":160,"wires":[["3efe11df.5aa5ee"]]},{"id":"7388565e.c3f0f8","type":"telegrambot-notify","z":"f64e7ddf.061fb","name":"Notifier","bot":"","chatId":"","message":"","parseMode":"HTML","x":920,"y":220,"wires":[]},{"id":"85b8e651.a11e38","type":"api-current-state","z":"f64e7ddf.061fb","name":"Humidity Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.led1_si7021_humidity","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":140,"y":200,"wires":[["ae45a249.d5dab"]]},{"id":"540a4d45.210294","type":"api-current-state","z":"f64e7ddf.061fb","name":"Led1 Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.led1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":120,"wires":[["dea38d17.76383"]]},{"id":"3efe11df.5aa5ee","type":"api-current-state","z":"f64e7ddf.061fb","name":"Heater Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.heating","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":150,"y":160,"wires":[["85b8e651.a11e38"]]},{"id":"56b64479.2da4dc","type":"api-current-state","z":"f64e7ddf.061fb","name":"Exhaustion Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"exhaust","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":240,"wires":[["2b8cfb79.24f3f4"]]},{"id":"dc31b369.17744","type":"api-current-state","z":"f64e7ddf.061fb","name":"General CO2 Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":120,"wires":[["39e15297.f113ee"]]},{"id":"ae45a249.d5dab","type":"api-current-state","z":"f64e7ddf.061fb","name":"Dehumidifier Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.dehumidifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":130,"y":240,"wires":[["cbe9b1b3.3c391"]]},{"id":"39e15297.f113ee","type":"api-current-state","z":"f64e7ddf.061fb","name":"Co2 Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":160,"wires":[["d61adad3.2c9c58"]]},{"id":"2b8cfb79.24f3f4","type":"api-current-state","z":"f64e7ddf.061fb","name":"Purifier Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"purifier","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":80,"wires":[["dc31b369.17744"]]},{"id":"cbe9b1b3.3c391","type":"api-current-state","z":"f64e7ddf.061fb","name":"Exhaust System","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"str","state_location":"genexaust","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":200,"wires":[["56b64479.2da4dc"]]},{"id":"74726f28.ba395","type":"api-current-state","z":"f64e7ddf.061fb","name":"General Terrarium Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":80,"wires":[["540a4d45.210294"]]},{"id":"d61adad3.2c9c58","type":"api-current-state","z":"f64e7ddf.061fb","name":"Fan Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":200,"wires":[["2aa410d3.d1f9f"]]},{"id":"14dacf6e.4f7c51","type":"api-render-template","z":"f64e7ddf.061fb","name":"Template Status","server":"92cf13e3.01318","template":"<b>Status AIF</b>\n---------------------------------------\nTerrário:   |<b>{{ states('input_boolean.terrarium1')}}</b>\nLogger:     |<b>{{ states('input_boolean.general_logger')}}</b>\nLight:      |<b>{{ states('switch.led1')}}</b>\nTemperature:|<b>{{ states('sensor.led1_si7021_temperature') }}</b>\nExhaut. Sys:|<b>{{ states('input_boolean.general_exhaust')}}</b>\nExhaustion: |<b>{{ states('switch.exhaustion')}}</b>\nPurifier:   |<b>{{ states('switch.purifier')}}</b>\nHeater:     |<b>{{ states('switch.heating')}}</b>\nHumidity:   |<b>{{ states('sensor.led1_si7021_humidity')}}</b>\nDehumidifie:|<b>{{ states('switch.dehumidifier')}}</b>\nCo2 System: |<b>{{ states('input_boolean.general_co2')}}</b>\nCo2:        |<b>{{ states('switch.co2')}}</b>\nFan:        |<b>{{ states('switch.fanauxiliar')}}</b>","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":740,"y":80,"wires":[["c1563d7.48ea3c"]]},{"id":"3346abe3.da77c4","type":"telegrambot-payload","z":"f64e7ddf.061fb","name":"Notifier","bot":"","chatId":"","sendMethod":"sendMessage","payload":"","x":900,"y":320,"wires":[[]]},{"id":"f87c45bf.c7e998","type":"api-current-state","z":"f64e7ddf.061fb","name":"Logger ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_logger","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":810,"y":520,"wires":[["3346abe3.da77c4"],[]]},{"id":"78799167.0dbba","type":"telegrambot-command","z":"f64e7ddf.061fb","name":"/logon","bot":"","command":"/logon","commandType":"str","commandCase":false,"x":110,"y":320,"wires":[["d9f5a5a4.bca818"]]},{"id":"73c77fe8.120ec","type":"telegrambot-command","z":"f64e7ddf.061fb","name":"/logoff","bot":"","command":"/logoff","commandType":"str","commandCase":false,"x":110,"y":360,"wires":[["d9f5a5a4.bca818"]]},{"id":"d9f5a5a4.bca818","type":"switch","z":"f64e7ddf.061fb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"/logon","vt":"str"},{"t":"eq","v":"/logoff","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":340,"wires":[["215ec517.b7362a"],["6284bb34.fccaf4"]]},{"id":"215ec517.b7362a","type":"api-call-service","z":"f64e7ddf.061fb","name":"Logger ON","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.general_logger","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":370,"y":320,"wires":[["5d921a2c.079984"]]},{"id":"6284bb34.fccaf4","type":"api-call-service","z":"f64e7ddf.061fb","name":"Logger OFF","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.general_logger","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":370,"y":360,"wires":[["5d921a2c.079984"]]},{"id":"2aa410d3.d1f9f","type":"api-current-state","z":"f64e7ddf.061fb","name":"Logger","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_logger","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":240,"wires":[["14dacf6e.4f7c51"]]},{"id":"5d921a2c.079984","type":"function","z":"f64e7ddf.061fb","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":340,"wires":[["baad759b.7bdc58"]]},{"id":"baad759b.7bdc58","type":"change","z":"f64e7ddf.061fb","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"general_logger","fromt":"str","to":"Logger System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":340,"wires":[["3346abe3.da77c4"]]},{"id":"c1563d7.48ea3c","type":"api-current-state","z":"f64e7ddf.061fb","name":"Logger ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_logger","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":750,"y":120,"wires":[["7388565e.c3f0f8"],[]]},{"id":"d6319ec1.3d76","type":"comment","z":"f64e7ddf.061fb","name":"General","info":"","x":350,"y":680,"wires":[]},{"id":"3c28c3cc.dc7f2c","type":"server-state-changed","z":"f64e7ddf.061fb","name":"Terrarium1General","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.terrarium1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":740,"wires":[["14d033fe.7d67ac"],["14d033fe.7d67ac"]]},{"id":"14d033fe.7d67ac","type":"function","z":"f64e7ddf.061fb","name":"OK","func":"var mystate = msg.payload;\nvar mydevice = msg.topic;\nvar mytext = '-->' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":800,"wires":[["2d1ef80c.9f1988"]]},{"id":"2d1ef80c.9f1988","type":"change","z":"f64e7ddf.061fb","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"input_boolean.general_exhaust","fromt":"str","to":"Exhaustion System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"input_boolean.general_co2","fromt":"str","to":"Co2 System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"input_boolean.general_logger","fromt":"str","to":"Logger System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"input_boolean.terrarium1","fromt":"str","to":"Terrarium 1 General","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":800,"wires":[["f87c45bf.c7e998"]]},{"id":"a20f4937.e12d08","type":"server-state-changed","z":"f64e7ddf.061fb","name":"Logger General","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.general_logger","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":780,"wires":[["14d033fe.7d67ac"],["14d033fe.7d67ac"]]},{"id":"2928232a.0b6dfc","type":"server-state-changed","z":"f64e7ddf.061fb","name":"Co2 General","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.general_co2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":170,"y":820,"wires":[["14d033fe.7d67ac"],["14d033fe.7d67ac"]]},{"id":"687e243e.52090c","type":"server-state-changed","z":"f64e7ddf.061fb","name":"Exhaust System","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.general_exhaust","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":860,"wires":[["14d033fe.7d67ac"],["14d033fe.7d67ac"]]},{"id":"92cf13e3.01318","type":"server","name":"Home Assistant","addon":true}]