Flow Node-Red/flow-Humidity-FIFUv1.7.json
[{"id":"38e584a.92a327c","type":"tab","label":"Control Humidity","disabled":false,"info":""},{"id":"beda141b.cf5eb8","type":"comment","z":"38e584a.92a327c","name":"Control Humidity","info":"","x":340,"y":20,"wires":[]},{"id":"367e2117.1de95e","type":"server-state-changed","z":"38e584a.92a327c","name":"Humi Target","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.humid_target","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":80,"wires":[["2350a9f3.b9d8f6"]]},{"id":"a8544e42.3829d","type":"server-state-changed","z":"38e584a.92a327c","name":"Humi Toler","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.humid_tolerance","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":140,"wires":[["2350a9f3.b9d8f6"]]},{"id":"317c3f5f.7ac22","type":"server-state-changed","z":"38e584a.92a327c","name":"Humi NOW","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.led1_si7021_humidity","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":200,"wires":[["2350a9f3.b9d8f6"]]},{"id":"92773cbc.50531","type":"api-call-service","z":"38e584a.92a327c","name":"Dehumidifier On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.dehumidifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":760,"y":60,"wires":[["d9e50446.e13668"]]},{"id":"48496c93.d360b4","type":"api-call-service","z":"38e584a.92a327c","name":"Dehumidifier Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.dehumidifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":760,"y":200,"wires":[["d9e50446.e13668"]]},{"id":"2350a9f3.b9d8f6","type":"join","z":"38e584a.92a327c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":230,"y":140,"wires":[["be02618c.a087"]]},{"id":"d9e85d66.0972a","type":"function","z":"38e584a.92a327c","name":"","func":"var humid = Number(msg.payload[\"sensor.led1_si7021_humidity\"]);\nvar humidtarget = Number(msg.payload[\"input_number.humid_target\"]);\nvar humidtolerance = Number(msg.payload[\"input_number.humid_tolerance\"]);\nvar humidup = (humidtarget + humidtolerance);\nvar humiddown = (humidtarget - humidtolerance);\n\nif (humid > humidup) {\n    return [msg, null, null];\n}else if (humid < humiddown) {\n    return [null, msg, null];\n}else if ((humid > humiddown) && (humid < humidup - 1)) {\n    return [null, null, msg];\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":540,"y":140,"wires":[["a0cee6f2.5e22b8"],["7a35a85e.e80528"],["7a35a85e.e80528"]]},{"id":"d9e50446.e13668","type":"function","z":"38e584a.92a327c","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":140,"wires":[["a1c81d43.e8c08"]]},{"id":"a1c81d43.e8c08","type":"change","z":"38e584a.92a327c","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"fanauxiliar","fromt":"str","to":"Fan Auxiliary (DEHUM)","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"dehumidifier","fromt":"str","to":"Dehumidifier","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":140,"wires":[["7a19f858.e62ba8"]]},{"id":"be02618c.a087","type":"api-current-state","z":"38e584a.92a327c","name":"General ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":370,"y":140,"wires":[["d9e85d66.0972a"],["7a35a85e.e80528"]]},{"id":"7a19f858.e62ba8","type":"link out","z":"38e584a.92a327c","name":"","links":["581ac627.fc1328","b0c51313.de2ae","f1029ef3.20edd"],"x":995,"y":200,"wires":[]},{"id":"a0cee6f2.5e22b8","type":"api-current-state","z":"38e584a.92a327c","name":"Dehumidifier ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.dehumidifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":60,"wires":[[],["92773cbc.50531"]]},{"id":"7a35a85e.e80528","type":"api-current-state","z":"38e584a.92a327c","name":"Dehumidifier OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.dehumidifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":200,"wires":[[],["48496c93.d360b4"]]},{"id":"92cf13e3.01318","type":"server","name":"Home Assistant","addon":true}]