Flow Node-Red/flow-Co2System-FIFUv1.6.json
[{"id":"5166aadc.8a12d4","type":"tab","label":"Co2 System","disabled":false,"info":""},{"id":"f01553b6.a4724","type":"comment","z":"5166aadc.8a12d4","name":"Co2 System","info":"","x":330,"y":20,"wires":[]},{"id":"1314e203.5d67ce","type":"api-call-service","z":"5166aadc.8a12d4","name":"Co2 On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.co2","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":840,"y":220,"wires":[["4cc0f079.4ba46"]]},{"id":"ff24531b.a3f24","type":"api-call-service","z":"5166aadc.8a12d4","name":"Co2 Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.co2","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":820,"y":120,"wires":[["4cc0f079.4ba46"]]},{"id":"6d8b7d6.ca09184","type":"api-current-state","z":"5166aadc.8a12d4","name":"Co2 ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":680,"y":120,"wires":[["ff24531b.a3f24"],[]]},{"id":"67f95ee.d36bfa","type":"api-current-state","z":"5166aadc.8a12d4","name":"Co2 OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":220,"wires":[["1314e203.5d67ce"],[]]},{"id":"927c0012.5139f","type":"server-state-changed","z":"5166aadc.8a12d4","name":"Co2 NOW","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.tasmota_mhz19b_carbondioxide","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":220,"wires":[["20aa35db.2619aa"]]},{"id":"20aa35db.2619aa","type":"join","z":"5166aadc.8a12d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":270,"y":120,"wires":[["6628328b.20c7cc","f7e7317a.093ae","28ff3e2d.884722"]]},{"id":"f7e7317a.093ae","type":"function","z":"5166aadc.8a12d4","name":"","func":"var exhaustsyson = msg.payload[\"input_boolean.general_exhaust\"];\nvar myco2 = Number(msg.payload[\"input_number.co2_manually\"]);\nvar co2max = Number(msg.payload[\"input_number.co2_max\"]);\nvar co2min = Number(msg.payload[\"input_number.co2_min\"]);\n\nif (exhaustsyson == false){\n    if(myco2 <= co2min){\n        return [null, msg, null, null];\n    }\n    else if(myco2 > co2max){\n        return [msg, null, null, null];\n    }\n    else if((myco2 < (co2max - 200)) && (myco2 > co2min)){\n        return [null, null, msg, null];\n    }\n}\nelse if (exhaustsyson == 'on'){\n    return [null, null, null, msg]\n}","outputs":4,"noerr":0,"initialize":"","finalize":"","x":100,"y":460,"wires":[["6d8b7d6.ca09184","6232af96.ae913","ece3418a.6f89d"],["67f95ee.d36bfa","7812b9fb.b7b078","ece3418a.6f89d"],["becef573.1f5428","ece3418a.6f89d"],["6d8b7d6.ca09184","ece3418a.6f89d"]]},{"id":"1f2a450a.0e8c3b","type":"link out","z":"5166aadc.8a12d4","name":"TelegramOut","links":["f1029ef3.20edd"],"x":1095,"y":240,"wires":[]},{"id":"edcc5c14.56152","type":"change","z":"5166aadc.8a12d4","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"purifier","fromt":"str","to":"Purifier (CO2)","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"exhaustion","fromt":"str","to":"Exhauster (CO2)","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"fanauxiliar","fromt":"str","to":"Auxiliary Fan (CO2)","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"co2","fromt":"str","to":"CO2 System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"Desligado","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"Ligado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":160,"wires":[["1f2a450a.0e8c3b"]]},{"id":"4cc0f079.4ba46","type":"function","z":"5166aadc.8a12d4","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":160,"wires":[["edcc5c14.56152"]]},{"id":"e23d06d9.abab48","type":"server-state-changed","z":"5166aadc.8a12d4","name":"Co2 MIN","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.co2_min","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":80,"wires":[["20aa35db.2619aa"]]},{"id":"b359b052.c1367","type":"server-state-changed","z":"5166aadc.8a12d4","name":"Co2 MAX","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.co2_max","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":140,"wires":[["20aa35db.2619aa"]]},{"id":"7812b9fb.b7b078","type":"api-current-state","z":"5166aadc.8a12d4","name":"Exhaustion ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":720,"y":500,"wires":[["e3459613.2b28e8"],[]]},{"id":"e3459613.2b28e8","type":"api-call-service","z":"5166aadc.8a12d4","name":"Exhaustion Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.exhaustion","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":920,"y":500,"wires":[["aa576581.2e04c8","4cc0f079.4ba46"]]},{"id":"4acfa7ec.5b47b8","type":"api-current-state","z":"5166aadc.8a12d4","d":true,"name":"General Co2 ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_co2","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":270,"y":200,"wires":[["ac06442e.cd0258"],["6d8b7d6.ca09184"]]},{"id":"6232af96.ae913","type":"api-current-state","z":"5166aadc.8a12d4","name":"Exhaust Syst OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":730,"y":420,"wires":[["8006c509.4b6418"],[]]},{"id":"8006c509.4b6418","type":"api-call-service","z":"5166aadc.8a12d4","name":"Exhaust Syst ON","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.general_exhaust","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":930,"y":420,"wires":[[]]},{"id":"aa576581.2e04c8","type":"api-current-state","z":"5166aadc.8a12d4","name":"Purifier ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1090,"y":500,"wires":[["4f4fee0e.2370b"],[]]},{"id":"4f4fee0e.2370b","type":"api-call-service","z":"5166aadc.8a12d4","name":"Purifier Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.purifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1250,"y":500,"wires":[["4cc0f079.4ba46"]]},{"id":"ac06442e.cd0258","type":"api-current-state","z":"5166aadc.8a12d4","d":true,"name":"Exhaust Syst ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":270,"y":260,"wires":[[],["f7e7317a.093ae"]]},{"id":"6628328b.20c7cc","type":"api-current-state","z":"5166aadc.8a12d4","d":true,"name":"Led ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.led1","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":260,"y":160,"wires":[["4acfa7ec.5b47b8"],["6d8b7d6.ca09184"]]},{"id":"f4bd3282.33719","type":"api-call-service","z":"5166aadc.8a12d4","name":"FanAux On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":600,"wires":[["e1e96414.c912d8","4cc0f079.4ba46"]]},{"id":"e1e96414.c912d8","type":"delay","z":"5166aadc.8a12d4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":600,"wires":[["91e361ca.df71f"]]},{"id":"6d4498f0.b44548","type":"api-current-state","z":"5166aadc.8a12d4","name":"FanAux OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":460,"y":600,"wires":[["f4bd3282.33719"],[]]},{"id":"1ca0f920.fde617","type":"delay","z":"5166aadc.8a12d4","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1280,"y":600,"wires":[["becef573.1f5428"]]},{"id":"687b0833.d62718","type":"api-call-service","z":"5166aadc.8a12d4","name":"FanAux Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":600,"wires":[["1ca0f920.fde617","4cc0f079.4ba46"]]},{"id":"91e361ca.df71f","type":"api-current-state","z":"5166aadc.8a12d4","name":"FanAux ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":950,"y":600,"wires":[["687b0833.d62718"],[]]},{"id":"becef573.1f5428","type":"actionflows","z":"5166aadc.8a12d4","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"loop","prop":"loop","untilprop":0,"until":"eq","loop":"inc0","scope":"private","perf":false,"seq":false,"x":130,"y":600,"wires":[["acad7e36.666ef"]]},{"id":"2ec74a0d.679446","type":"change","z":"5166aadc.8a12d4","name":"set Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":540,"wires":[["becef573.1f5428"]]},{"id":"acad7e36.666ef","type":"api-current-state","z":"5166aadc.8a12d4","name":"CO2 ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":260,"y":600,"wires":[["6d4498f0.b44548"],["2ec74a0d.679446"]]},{"id":"4167c888.a1a2a8","type":"server-state-changed","z":"5166aadc.8a12d4","name":"Exhaust System","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.general_exhaust","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":300,"wires":[["20aa35db.2619aa"]]},{"id":"ece3418a.6f89d","type":"debug","z":"5166aadc.8a12d4","name":"0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":520,"wires":[]},{"id":"28ff3e2d.884722","type":"debug","z":"5166aadc.8a12d4","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":80,"wires":[]},{"id":"92cf13e3.01318","type":"server","name":"Home Assistant","addon":true}]