Flow Node-Red/flow-LoopSystem-FIFUv1.8.json
[{"id":"b6a03897.4ea0b8","type":"tab","label":"LoopSystem","disabled":false,"info":""},{"id":"3398dc11.3a0394","type":"api-call-service","z":"b6a03897.4ea0b8","name":"FanAux On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":630,"y":80,"wires":[["9610d626.bacf88"]]},{"id":"9610d626.bacf88","type":"delay","z":"b6a03897.4ea0b8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":80,"wires":[["5a7ebbad.6832c4"]]},{"id":"584709fc.465b48","type":"api-current-state","z":"b6a03897.4ea0b8","name":"FanAux OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":80,"wires":[["3398dc11.3a0394"],[]]},{"id":"234d65a9.8e60fa","type":"api-call-service","z":"b6a03897.4ea0b8","name":"FanAux Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":650,"y":140,"wires":[[]]},{"id":"5a7ebbad.6832c4","type":"api-current-state","z":"b6a03897.4ea0b8","name":"FanAux ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":140,"wires":[["234d65a9.8e60fa"],[]]},{"id":"6c15f2c6.0655ec","type":"change","z":"b6a03897.4ea0b8","name":"set Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":160,"wires":[["18d8afb5.b4eef"]]},{"id":"7d807149.fab7d","type":"server-state-changed","z":"b6a03897.4ea0b8","name":"Led1 ON?","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.led1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":120,"wires":[["18d8afb5.b4eef"],["6c15f2c6.0655ec"]]},{"id":"18d8afb5.b4eef","type":"looptimer-advanced","z":"b6a03897.4ea0b8","duration":"4","units":"Minute","maxloops":"1000","maxtimeout":"12","maxtimeoutunits":"Hour","name":"","x":280,"y":100,"wires":[["584709fc.465b48"],["5a7ebbad.6832c4"]]},{"id":"dccaee89.216cd","type":"api-call-service","z":"b6a03897.4ea0b8","name":"FanAux On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":240,"wires":[["9efc9a6.e1f9968"]]},{"id":"9efc9a6.e1f9968","type":"delay","z":"b6a03897.4ea0b8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":240,"wires":[["1f866c11.75c414"]]},{"id":"8156f4a9.661b28","type":"api-current-state","z":"b6a03897.4ea0b8","name":"FanAux OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":240,"wires":[["dccaee89.216cd"],[]]},{"id":"969a363c.b00458","type":"api-call-service","z":"b6a03897.4ea0b8","name":"FanAux Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":300,"wires":[[]]},{"id":"1f866c11.75c414","type":"api-current-state","z":"b6a03897.4ea0b8","name":"FanAux ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":300,"wires":[["969a363c.b00458"],[]]},{"id":"b8029062.851af","type":"change","z":"b6a03897.4ea0b8","name":"set Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":300,"wires":[["dedaae6c.7f29d"]]},{"id":"dedaae6c.7f29d","type":"looptimer-advanced","z":"b6a03897.4ea0b8","duration":"6","units":"Minute","maxloops":"1000","maxtimeout":"12","maxtimeoutunits":"Hour","name":"","x":320,"y":240,"wires":[["8156f4a9.661b28"],["1f866c11.75c414"]]},{"id":"718d5af4.7882e4","type":"server-state-changed","z":"b6a03897.4ea0b8","name":"Dehumidifier ON?","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.dehumidifier","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":260,"wires":[["dedaae6c.7f29d"],["b8029062.851af"]]},{"id":"c40cb06b.462a6","type":"comment","z":"b6a03897.4ea0b8","name":"AuxiliarFan","info":"","x":320,"y":20,"wires":[]},{"id":"92cf13e3.01318","type":"server","name":"Home Assistant","addon":true}]