Flow Node-Red/flow-Temperature-FIFUv1.2.json
[{"id":"cff7a33a.e6305","type":"tab","label":"Temperature Control","disabled":false,"info":""},{"id":"8966b541.614eb8","type":"api-call-service","z":"cff7a33a.e6305","name":"Heater ON","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.heating","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":80,"wires":[["68a8346c.a803dc"]]},{"id":"28052ede.003262","type":"api-call-service","z":"cff7a33a.e6305","name":"Heater Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.heating","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":140,"wires":[["68a8346c.a803dc"]]},{"id":"a2f92607.92e118","type":"api-current-state","z":"cff7a33a.e6305","name":"Heater ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.heating","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":140,"wires":[["28052ede.003262"],[]]},{"id":"ca33fc81.d52e1","type":"api-current-state","z":"cff7a33a.e6305","name":"Heater OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.heating","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":80,"wires":[["8966b541.614eb8"],[]]},{"id":"84d057dd.6090b8","type":"comment","z":"cff7a33a.e6305","name":"Control Termperature","info":"","x":360,"y":20,"wires":[]},{"id":"4cf70d4.0cc8af4","type":"server-state-changed","z":"cff7a33a.e6305","name":"Temp. MIN","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.temp_min","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":120,"wires":[["80b3b98b.87ecc8"]]},{"id":"6e5235dd.2c537c","type":"server-state-changed","z":"cff7a33a.e6305","name":"Temp. NOW","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.led1_si7021_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":240,"wires":[["80b3b98b.87ecc8"]]},{"id":"2b65fe84.c5b7b2","type":"server-state-changed","z":"cff7a33a.e6305","name":"Temp. MAX","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.temp_max","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":180,"wires":[["80b3b98b.87ecc8"]]},{"id":"80b3b98b.87ecc8","type":"join","z":"cff7a33a.e6305","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":290,"y":140,"wires":[["30094a37.2f8d76"]]},{"id":"6702cb9a.42afe4","type":"function","z":"cff7a33a.e6305","name":"","func":"var mytemperature = Number(msg.payload[\"sensor.led1_si7021_temperature\"]);\nvar tempmax = Number(msg.payload[\"input_number.temp_max\"]);\nvar tempmin = Number(msg.payload[\"input_number.temp_min\"]);\n\nif(mytemperature > tempmax){\n    return [null, msg, null];\n}\nelse if(mytemperature < tempmin){\n    return [msg, null, null];\n}\nelse if(((mytemperature < (tempmax - 2)) && (mytemperature > tempmin))){\n    return [null, null, msg];\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":300,"y":320,"wires":[["ca33fc81.d52e1","fc0d2f1c.d9872"],["5419af82.25e38","a2f92607.92e118"],["a2f92607.92e118","37ab256c.62254a","fc0d2f1c.d9872"]]},{"id":"446fa548.78d97c","type":"link out","z":"cff7a33a.e6305","name":"","links":["f1029ef3.20edd"],"x":955,"y":220,"wires":[]},{"id":"1acfe874.2a5e28","type":"change","z":"cff7a33a.e6305","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"general_exhaust_co2","fromt":"str","to":"Exhaust System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"heating","fromt":"str","to":"Heater","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"fanauxiliar","fromt":"str","to":"Fan Auxiliary","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":180,"wires":[["446fa548.78d97c"]]},{"id":"68a8346c.a803dc","type":"function","z":"cff7a33a.e6305","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":140,"wires":[["1acfe874.2a5e28"]]},{"id":"fc0d2f1c.d9872","type":"api-current-state","z":"cff7a33a.e6305","name":"Exhaust Syst ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":260,"wires":[["35130ee7.57db62"],[]]},{"id":"5419af82.25e38","type":"api-current-state","z":"cff7a33a.e6305","name":"Exhaust Syst OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":200,"wires":[["124cf575.9df6eb"],[]]},{"id":"124cf575.9df6eb","type":"api-call-service","z":"cff7a33a.e6305","name":"Exhaust Syst ON","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.general_exhaust","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":730,"y":200,"wires":[[]]},{"id":"35130ee7.57db62","type":"api-call-service","z":"cff7a33a.e6305","name":"Exhaust Syst OFF","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.general_exhaust","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":730,"y":260,"wires":[[]]},{"id":"30094a37.2f8d76","type":"api-current-state","z":"cff7a33a.e6305","name":"General","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":280,"y":220,"wires":[["6702cb9a.42afe4"],["a2f92607.92e118","fc0d2f1c.d9872"]]},{"id":"37ab256c.62254a","type":"api-current-state","z":"cff7a33a.e6305","name":"General Co2 ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_co2","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":530,"y":340,"wires":[[],[]]},{"id":"92cf13e3.01318","type":"server","name":"Home Assistant","addon":true}]