Flow Node-Red/flow-ExhaustSystem-FIFUv1.1.json
[{"id":"d702c63b.736f08","type":"tab","label":"Exhaustion System","disabled":false,"info":""},{"id":"e68593ac.3b9f","type":"api-call-service","z":"d702c63b.736f08","name":"Purifier Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.purifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":710,"y":260,"wires":[["6b4d104d.454"]]},{"id":"7df118fa.47b778","type":"api-call-service","z":"d702c63b.736f08","name":"Exhaustion Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.exhaustion","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":320,"wires":[["6b4d104d.454"]]},{"id":"73345fd1.0dfde","type":"api-call-service","z":"d702c63b.736f08","name":"Exhaustion On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.exhaustion","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":500,"y":180,"wires":[["6b4d104d.454","74ff8fca.d861d"]]},{"id":"5e146776.f8c338","type":"delay","z":"d702c63b.736f08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":320,"wires":[["7df118fa.47b778"]]},{"id":"ff8a339f.90b9b","type":"api-current-state","z":"d702c63b.736f08","name":"Purifier ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":260,"wires":[["e68593ac.3b9f"],[]]},{"id":"a31d0e05.62f72","type":"api-current-state","z":"d702c63b.736f08","name":"Exhaustion ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":260,"wires":[["ff8a339f.90b9b","5e146776.f8c338"],[]]},{"id":"8c8827a0.b1e088","type":"api-current-state","z":"d702c63b.736f08","name":"Exhaustion OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":180,"wires":[["73345fd1.0dfde"],[]]},{"id":"c19d57dc.4f35c8","type":"comment","z":"d702c63b.736f08","name":"Exaustion System","info":"","x":350,"y":20,"wires":[]},{"id":"6b4d104d.454","type":"function","z":"d702c63b.736f08","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":200,"wires":[["1d08a770.946269"]]},{"id":"1d08a770.946269","type":"change","z":"d702c63b.736f08","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"exhaustion","fromt":"str","to":"Exhaustor","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"purifier","fromt":"str","to":"Purifier","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":260,"wires":[["1da0e32e.267e6d"]]},{"id":"1da0e32e.267e6d","type":"link out","z":"d702c63b.736f08","name":"TelegramOut","links":["f1029ef3.20edd"],"x":955,"y":340,"wires":[]},{"id":"6e510c31.ecaf64","type":"api-current-state","z":"d702c63b.736f08","name":"General","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":200,"y":260,"wires":[["a31d0e05.62f72"],["a31d0e05.62f72"]]},{"id":"ec67df6e.7f5e2","type":"server-state-changed","z":"d702c63b.736f08","name":"Exhaust System","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.general_exhaust","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":100,"y":200,"wires":[["8c8827a0.b1e088"],["6e510c31.ecaf64"]]},{"id":"9f6f744b.4556c8","type":"api-call-service","z":"d702c63b.736f08","name":"Purifier On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.purifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":330,"y":80,"wires":[["2098eefc.51e372","6b4d104d.454"]]},{"id":"c24e8a22.23ae88","type":"actionflows","z":"d702c63b.736f08","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"loop","prop":"loop","untilprop":0,"until":"gt","loop":"inc0","scope":"global","perf":false,"seq":false,"x":490,"y":120,"wires":[["1f1a379e.f8d7b8"]]},{"id":"2098eefc.51e372","type":"delay","z":"d702c63b.736f08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":80,"wires":[["8ec3402c.42baa"]]},{"id":"bb6a66b3.bd7ba8","type":"delay","z":"d702c63b.736f08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":80,"wires":[["74ff8fca.d861d"]]},{"id":"542023a0.51abdc","type":"api-call-service","z":"d702c63b.736f08","name":"Purifier Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.purifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":80,"wires":[["bb6a66b3.bd7ba8","6b4d104d.454"]]},{"id":"843184d7.733b08","type":"change","z":"d702c63b.736f08","name":"set Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":160,"wires":[["c24e8a22.23ae88"]]},{"id":"1f1a379e.f8d7b8","type":"api-current-state","z":"d702c63b.736f08","name":"Purifier OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":80,"wires":[["9f6f744b.4556c8"],[]]},{"id":"8ec3402c.42baa","type":"api-current-state","z":"d702c63b.736f08","name":"Purifier ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":80,"wires":[["542023a0.51abdc"],[]]},{"id":"74ff8fca.d861d","type":"api-current-state","z":"d702c63b.736f08","name":"Exhaust Syst OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":180,"wires":[["843184d7.733b08"],["c24e8a22.23ae88"]]},{"id":"92cf13e3.01318","type":"server","name":"Home Assistant","addon":true}]