Flow Node-Red/flow-AuxiliaryFan-FIFUv1.1.json
[{"id":"3fe4ec69.453314","type":"tab","label":"FanLoop","disabled":false,"info":""},{"id":"fbcbcc87.a2289","type":"delay","z":"3fe4ec69.453314","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":140,"wires":[["77b99f4c.b1104"]]},{"id":"7ccd6513.ec445c","type":"delay","z":"3fe4ec69.453314","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":140,"wires":[["4745f47a.195bac"]]},{"id":"ad60f655.1ed7b8","type":"api-call-service","z":"3fe4ec69.453314","name":"Fan Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":780,"y":140,"wires":[["7ccd6513.ec445c","f394c7b8.c3db88"]]},{"id":"77b99f4c.b1104","type":"api-current-state","z":"3fe4ec69.453314","name":"Fan ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":140,"wires":[["ad60f655.1ed7b8"],[]]},{"id":"7ee0d548.f4c16c","type":"api-call-service","z":"3fe4ec69.453314","name":"Fan On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":360,"y":140,"wires":[["fbcbcc87.a2289","f394c7b8.c3db88"]]},{"id":"5154c19.92f004","type":"api-current-state","z":"3fe4ec69.453314","name":"Fan OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":210,"y":140,"wires":[["7ee0d548.f4c16c"],[]]},{"id":"4745f47a.195bac","type":"api-current-state","z":"3fe4ec69.453314","name":"Co2 ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":80,"wires":[["4a21232e.72144c"],["9bbaa3b4.38bb3"]]},{"id":"9bbaa3b4.38bb3","type":"actionflows","z":"3fe4ec69.453314","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"loop","prop":"loop","untilprop":0,"until":"gt","loop":"inc0","scope":"global","perf":false,"seq":false,"x":650,"y":100,"wires":[["5154c19.92f004"]]},{"id":"4a21232e.72144c","type":"change","z":"3fe4ec69.453314","name":"set Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":80,"wires":[["9bbaa3b4.38bb3"]]},{"id":"f5cf51e.9f78eb","type":"link in","z":"3fe4ec69.453314","name":"FanLoopIN","links":["e66e90dd.40583","ccda5da6.8232a"],"x":45,"y":80,"wires":[["d03dea5b.377f98"]]},{"id":"f394c7b8.c3db88","type":"function","z":"3fe4ec69.453314","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":240,"wires":[["715b6893.361a88"]]},{"id":"715b6893.361a88","type":"change","z":"3fe4ec69.453314","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"fanauxiliar","fromt":"str","to":"Auxiliary Fan","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":240,"wires":[["7e61d5f9.de157c"]]},{"id":"7e61d5f9.de157c","type":"link out","z":"3fe4ec69.453314","name":"TelegramOut","links":["f1029ef3.20edd"],"x":855,"y":240,"wires":[]},{"id":"8a68e444.b35bb8","type":"comment","z":"3fe4ec69.453314","name":"Auxiliary Fan Looper","info":"","x":400,"y":20,"wires":[]},{"id":"288e9ea.4ec5e62","type":"delay","z":"3fe4ec69.453314","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":380,"wires":[["f74a9710.1a4ed8"]]},{"id":"20ea28e6.767d88","type":"delay","z":"3fe4ec69.453314","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":380,"wires":[["8ec4d289.89c17"]]},{"id":"5fa84cfc.359144","type":"api-call-service","z":"3fe4ec69.453314","name":"Fan Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":700,"y":380,"wires":[["20ea28e6.767d88","f394c7b8.c3db88"]]},{"id":"f74a9710.1a4ed8","type":"api-current-state","z":"3fe4ec69.453314","name":"Fan ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":380,"wires":[["5fa84cfc.359144"],[]]},{"id":"d33b64f7.e09b38","type":"api-call-service","z":"3fe4ec69.453314","name":"Fan On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":280,"y":380,"wires":[["288e9ea.4ec5e62","f394c7b8.c3db88"]]},{"id":"1973907a.eb6f9","type":"api-current-state","z":"3fe4ec69.453314","name":"Fan OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":130,"y":380,"wires":[["d33b64f7.e09b38"],[]]},{"id":"8ec4d289.89c17","type":"api-current-state","z":"3fe4ec69.453314","name":"Dehumidifier Off?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.dehumidifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":300,"wires":[["a509e55c.fbaef8"],["4196328.58baecc"]]},{"id":"4196328.58baecc","type":"actionflows","z":"3fe4ec69.453314","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"loop","prop":"loop","untilprop":0,"until":"gt","loop":"inc0","scope":"global","perf":false,"seq":false,"x":650,"y":320,"wires":[["1973907a.eb6f9"]]},{"id":"a509e55c.fbaef8","type":"change","z":"3fe4ec69.453314","name":"set Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":300,"wires":[["4196328.58baecc"]]},{"id":"d03dea5b.377f98","type":"api-current-state","z":"3fe4ec69.453314","name":"Led OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.led1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":140,"y":80,"wires":[["8ec4d289.89c17"],["4745f47a.195bac"]]},{"id":"92cf13e3.01318","type":"server","name":"Home Assistant","addon":true}]