Flow Node-Red/flow-GeneralNotifier-FIFUv1.2.json
[{"id":"b305798e.a0d1c8","type":"tab","label":"General Notifier","disabled":false,"info":""},{"id":"5ab364cf.7106dc","type":"exec","z":"b305798e.a0d1c8","command":"curl bot.whatismyipaddress.com","addpay":false,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"Call IP - whatismyipaddress.com","x":350,"y":520,"wires":[["e357bad.4611b48"],[],[]]},{"id":"82ac50d6.b1c66","type":"function","z":"b305798e.a0d1c8","name":"Compare IP","func":"context.lastip = context.lastip || 'initial';\nvar currentip = msg.payload;\n\nif (context.lastip == 'initial') {\ncontext.lastip = currentip;\n}\nelse if (context.lastip != currentip) {\ntextoip = \"My IP was changed to: \"+currentip;\ncontext.lastip = currentip;\nreturn {'payload': {'text':textoip}};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":580,"wires":[["2ec3085.ca476f8"]]},{"id":"e357bad.4611b48","type":"switch","z":"b305798e.a0d1c8","name":"Integrity check","property":"payload","rules":[{"t":"regex","v":"\\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\b"},{"t":"else"}],"checkall":"true","outputs":2,"x":580,"y":520,"wires":[["82ac50d6.b1c66"],[]]},{"id":"67c395d7.4e2e2c","type":"comment","z":"b305798e.a0d1c8","name":"Telegram Commands","info":"","x":360,"y":20,"wires":[]},{"id":"f1029ef3.20edd","type":"link in","z":"b305798e.a0d1c8","name":"TelegramIN","links":["1da0e32e.267e6d","1f2a450a.0e8c3b","446fa548.78d97c","7a19f858.e62ba8","e1ab5e55.fc3b1","c04c450e.d21948","7e61d5f9.de157c"],"x":815,"y":660,"wires":[["2ec3085.ca476f8"]]},{"id":"c9dfb02b.05699","type":"comment","z":"b305798e.a0d1c8","name":"Check IP","info":"","x":320,"y":460,"wires":[]},{"id":"910e3954.150968","type":"inject","z":"b305798e.a0d1c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"14400","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":130,"y":520,"wires":[["5ab364cf.7106dc"]]},{"id":"19b9511.d7f26af","type":"telegrambot-command","z":"b305798e.a0d1c8","name":"/status","bot":"3ffee45b.b9ea0c","command":"/status","commandType":"str","commandCase":true,"x":70,"y":80,"wires":[["40fe27ed.424688"]]},{"id":"a92216af.c0a0b8","type":"api-current-state","z":"b305798e.a0d1c8","name":"Temperature Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.led1_si7021_temperature","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":160,"wires":[["b968a976.15d6f8"]]},{"id":"303bc131.d3f22e","type":"telegrambot-notify","z":"b305798e.a0d1c8","name":"Notifier","bot":"3ffee45b.b9ea0c","chatId":"664078350","message":"","parseMode":"HTML","x":880,"y":220,"wires":[]},{"id":"1867d303.e4285d","type":"api-current-state","z":"b305798e.a0d1c8","name":"Humidity Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.led1_si7021_humidity","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":100,"y":200,"wires":[["8b92647f.7ebcb8"]]},{"id":"1be8e468.4ddc0c","type":"api-current-state","z":"b305798e.a0d1c8","name":"Led1 Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.led1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":120,"wires":[["a92216af.c0a0b8"]]},{"id":"b968a976.15d6f8","type":"api-current-state","z":"b305798e.a0d1c8","name":"Heater Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.heating","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":110,"y":160,"wires":[["1867d303.e4285d"]]},{"id":"43202bc3.fd4f44","type":"api-current-state","z":"b305798e.a0d1c8","name":"Exhaustion Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"exhaust","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":240,"wires":[["573f48bb.c48538"]]},{"id":"f737321b.0864","type":"api-current-state","z":"b305798e.a0d1c8","name":"General CO2 Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":120,"wires":[["8120cbfb.8a2708"]]},{"id":"8b92647f.7ebcb8","type":"api-current-state","z":"b305798e.a0d1c8","name":"Dehumidifier Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.dehumidifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":90,"y":240,"wires":[["e180966f.5d7bc8"]]},{"id":"8120cbfb.8a2708","type":"api-current-state","z":"b305798e.a0d1c8","name":"Co2 Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":160,"wires":[["e293f287.f7936"]]},{"id":"573f48bb.c48538","type":"api-current-state","z":"b305798e.a0d1c8","name":"Purifier Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"purifier","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":80,"wires":[["f737321b.0864"]]},{"id":"e180966f.5d7bc8","type":"api-current-state","z":"b305798e.a0d1c8","name":"Exhaust System","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"str","state_location":"genexaust","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":200,"wires":[["43202bc3.fd4f44"]]},{"id":"40fe27ed.424688","type":"api-current-state","z":"b305798e.a0d1c8","name":"General Terrarium Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":80,"wires":[["1be8e468.4ddc0c"]]},{"id":"e293f287.f7936","type":"api-current-state","z":"b305798e.a0d1c8","name":"Fan Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":200,"wires":[["9ff252d6.2ca46"]]},{"id":"e56c528e.1e418","type":"api-render-template","z":"b305798e.a0d1c8","name":"Template Status","server":"92cf13e3.01318","template":"<b>Status AIF</b>\n---------------------------------------\nTerrário:   |<b>{{ states('input_boolean.terrarium1')}}</b>\nLogger:     |<b>{{ states('input_boolean.general_logger')}}</b>\nLight:      |<b>{{ states('switch.led1')}}</b>\nTemperature:|<b>{{ states('sensor.led1_si7021_temperature') }}</b>\nExhaut. Sys:|<b>{{ states('input_boolean.general_exhaust')}}</b>\nExhaustion: |<b>{{ states('switch.exhaustion')}}</b>\nPurifier:   |<b>{{ states('switch.purifier')}}</b>\nHeater:     |<b>{{ states('switch.heating')}}</b>\nHumidity:   |<b>{{ states('sensor.led1_si7021_humidity')}}</b>\nDehumidifie:|<b>{{ states('switch.dehumidifier')}}</b>\nCo2 System: |<b>{{ states('input_boolean.general_co2')}}</b>\nCo2:        |<b>{{ states('switch.co2')}}</b>\nFan:        |<b>{{ states('switch.fanauxiliar')}}</b>","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":700,"y":80,"wires":[["bbaa34f3.0e4008"]]},{"id":"3b193f79.2b8ef","type":"telegrambot-payload","z":"b305798e.a0d1c8","name":"Notifier","bot":"3ffee45b.b9ea0c","chatId":"664078350","sendMethod":"sendMessage","payload":"","x":860,"y":320,"wires":[[]]},{"id":"2ec3085.ca476f8","type":"api-current-state","z":"b305798e.a0d1c8","name":"Logger ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_logger","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":850,"y":520,"wires":[["3b193f79.2b8ef"],[]]},{"id":"4d1f5d77.e11904","type":"telegrambot-command","z":"b305798e.a0d1c8","name":"/logon","bot":"3ffee45b.b9ea0c","command":"/logon","commandType":"str","commandCase":false,"x":70,"y":320,"wires":[["90a2658c.4644e8"]]},{"id":"45511a9e.c99ba4","type":"telegrambot-command","z":"b305798e.a0d1c8","name":"/logoff","bot":"3ffee45b.b9ea0c","command":"/logoff","commandType":"str","commandCase":false,"x":70,"y":360,"wires":[["90a2658c.4644e8"]]},{"id":"90a2658c.4644e8","type":"switch","z":"b305798e.a0d1c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"/logon","vt":"str"},{"t":"eq","v":"/logoff","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":340,"wires":[["21fbc62b.1beb4a"],["39080e0b.b7ccf2"]]},{"id":"21fbc62b.1beb4a","type":"api-call-service","z":"b305798e.a0d1c8","name":"Logger ON","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.general_logger","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":330,"y":320,"wires":[["58ec6825.8ecbe8"]]},{"id":"39080e0b.b7ccf2","type":"api-call-service","z":"b305798e.a0d1c8","name":"Logger OFF","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.general_logger","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":330,"y":360,"wires":[["58ec6825.8ecbe8"]]},{"id":"9ff252d6.2ca46","type":"api-current-state","z":"b305798e.a0d1c8","name":"Logger","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_logger","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":240,"wires":[["e56c528e.1e418"]]},{"id":"58ec6825.8ecbe8","type":"function","z":"b305798e.a0d1c8","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":340,"wires":[["bfdf63af.1a66b"]]},{"id":"bfdf63af.1a66b","type":"change","z":"b305798e.a0d1c8","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"general_logger","fromt":"str","to":"Logger System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":340,"wires":[["3b193f79.2b8ef"]]},{"id":"bbaa34f3.0e4008","type":"api-current-state","z":"b305798e.a0d1c8","name":"Logger ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_logger","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":710,"y":120,"wires":[["303bc131.d3f22e"],[]]},{"id":"7dddedee.e87b74","type":"comment","z":"b305798e.a0d1c8","name":"General","info":"","x":310,"y":640,"wires":[]},{"id":"2698dbda.f7cd44","type":"server-state-changed","z":"b305798e.a0d1c8","name":"Terrarium1General","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.terrarium1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":680,"wires":[["12d6f894.14ef17"]]},{"id":"12d6f894.14ef17","type":"function","z":"b305798e.a0d1c8","name":"OK","func":"var mystate = msg.payload;\nvar mydevice = msg.topic;\nvar mytext = '-->' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":740,"wires":[["55d3acc3.e557a4"]]},{"id":"55d3acc3.e557a4","type":"change","z":"b305798e.a0d1c8","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"input_boolean.general_exhaust","fromt":"str","to":"Exhaustion System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"input_boolean.general_co2","fromt":"str","to":"Co2 System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"input_boolean.general_logger","fromt":"str","to":"Logger System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"input_boolean.terrarium1","fromt":"str","to":"Terrarium 1 General","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":740,"wires":[["3b193f79.2b8ef"]]},{"id":"7a794850.4ab858","type":"server-state-changed","z":"b305798e.a0d1c8","name":"Logger General","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.general_logger","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":720,"wires":[["12d6f894.14ef17"]]},{"id":"7d50cbe0.8165a4","type":"server-state-changed","z":"b305798e.a0d1c8","name":"Co2 General","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.general_co2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":760,"wires":[["12d6f894.14ef17"]]},{"id":"dbfd87c7.5860a8","type":"server-state-changed","z":"b305798e.a0d1c8","name":"Exhaust System","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.general_exhaust","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":800,"wires":[["12d6f894.14ef17"]]},{"id":"3ffee45b.b9ea0c","type":"telegrambot-config","botname":"domatohole_bot","usernames":"domato69","chatIds":"664078350","pollInterval":"300"},{"id":"92cf13e3.01318","type":"server","name":"Home Assistant","addon":true}]