Flow Node-Red/flow-Co2System-FIFUv1.1.json
[{"id":"5166aadc.8a12d4","type":"tab","label":"Co2 System","disabled":false,"info":""},{"id":"f01553b6.a4724","type":"comment","z":"5166aadc.8a12d4","name":"Co2 System","info":"","x":330,"y":20,"wires":[]},{"id":"1314e203.5d67ce","type":"api-call-service","z":"5166aadc.8a12d4","name":"Co2 On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.co2","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":660,"y":220,"wires":[["4cc0f079.4ba46"]]},{"id":"ff24531b.a3f24","type":"api-call-service","z":"5166aadc.8a12d4","name":"Co2 Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.co2","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":640,"y":100,"wires":[["4cc0f079.4ba46"]]},{"id":"6d8b7d6.ca09184","type":"api-current-state","z":"5166aadc.8a12d4","name":"Co2 ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":100,"wires":[["ff24531b.a3f24"],[]]},{"id":"67f95ee.d36bfa","type":"api-current-state","z":"5166aadc.8a12d4","name":"Co2 OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":220,"wires":[["1314e203.5d67ce"],[]]},{"id":"927c0012.5139f","type":"server-state-changed","z":"5166aadc.8a12d4","d":true,"name":"Co2 NOW","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.led1_si7021_dewpoint","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":200,"wires":[["20aa35db.2619aa"]]},{"id":"20aa35db.2619aa","type":"join","z":"5166aadc.8a12d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":270,"y":120,"wires":[["d1d4402.e62dec"]]},{"id":"f7e7317a.093ae","type":"function","z":"5166aadc.8a12d4","name":"","func":"var myco2 = Number(msg.payload[\"input_number.co2_manually\"]);\nvar co2max = Number(msg.payload[\"input_number.co2_max\"]);\nvar co2min = Number(msg.payload[\"input_number.co2_min\"]);\n\n\nif(myco2 <= co2min){\n    return [null, msg, null];\n}\nelse if(myco2 > co2max){\n    return [msg, null, null];\n}\nelse if((myco2 < (co2max - 200)) && (myco2 > co2min)){\n    return [null, null, msg];\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":260,"y":300,"wires":[["6d8b7d6.ca09184","17557758.026bb9"],["3ffa0c51.43ecc4","67f95ee.d36bfa","7812b9fb.b7b078"],["e66e90dd.40583","6d8b7d6.ca09184"]]},{"id":"1f2a450a.0e8c3b","type":"link out","z":"5166aadc.8a12d4","name":"TelegramOut","links":["f1029ef3.20edd"],"x":895,"y":260,"wires":[]},{"id":"edcc5c14.56152","type":"change","z":"5166aadc.8a12d4","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"fanauxiliar","fromt":"str","to":"Auxiliary Fan","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"co2","fromt":"str","to":"CO2 System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"Desligado","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"Ligado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":180,"wires":[["1f2a450a.0e8c3b"]]},{"id":"4cc0f079.4ba46","type":"function","z":"5166aadc.8a12d4","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":180,"wires":[["edcc5c14.56152"]]},{"id":"e23d06d9.abab48","type":"server-state-changed","z":"5166aadc.8a12d4","name":"Co2 MIN","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.co2_min","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":80,"wires":[["20aa35db.2619aa"]]},{"id":"b359b052.c1367","type":"server-state-changed","z":"5166aadc.8a12d4","name":"Co2 MAX","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.co2_max","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":140,"wires":[["20aa35db.2619aa"]]},{"id":"3818802d.91eb7","type":"server-state-changed","z":"5166aadc.8a12d4","name":"co2 man","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.co2_manually","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":260,"wires":[["20aa35db.2619aa"]]},{"id":"d1d4402.e62dec","type":"api-current-state","z":"5166aadc.8a12d4","name":"Co2 ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":260,"y":200,"wires":[["f7e7317a.093ae"],[]]},{"id":"3ffa0c51.43ecc4","type":"api-current-state","z":"5166aadc.8a12d4","name":"Fan ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":160,"wires":[["ef03074d.dc0128"],[]]},{"id":"ef03074d.dc0128","type":"api-call-service","z":"5166aadc.8a12d4","name":"Fan Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":640,"y":160,"wires":[["4cc0f079.4ba46"]]},{"id":"17557758.026bb9","type":"api-current-state","z":"5166aadc.8a12d4","name":"Exhaustion OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":280,"wires":[["92d06dd6.eada5"],[]]},{"id":"92d06dd6.eada5","type":"api-call-service","z":"5166aadc.8a12d4","name":"Exhaustion On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.exhaustion","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":700,"y":280,"wires":[["4cc0f079.4ba46"]]},{"id":"7812b9fb.b7b078","type":"api-current-state","z":"5166aadc.8a12d4","name":"Exhaustion ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":340,"wires":[["e3459613.2b28e8"],[]]},{"id":"e3459613.2b28e8","type":"api-call-service","z":"5166aadc.8a12d4","name":"Exhaustion Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.exhaustion","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":700,"y":340,"wires":[["4cc0f079.4ba46"]]},{"id":"e66e90dd.40583","type":"link out","z":"5166aadc.8a12d4","name":"FanLoopOut","links":["f5cf51e.9f78eb"],"x":215,"y":380,"wires":[]},{"id":"92cf13e3.01318","type":"server","name":"Home Assistant","addon":true}]