Flow Node-Red/flow-ExhaustSystem-FIFUv1.8.json
[{"id":"d702c63b.736f08","type":"tab","label":"Exhaustion System","disabled":false,"info":""},{"id":"7df118fa.47b778","type":"api-call-service","z":"d702c63b.736f08","name":"Exhaustion Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.exhaustion","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":660,"y":240,"wires":[[]]},{"id":"73345fd1.0dfde","type":"api-call-service","z":"d702c63b.736f08","name":"Exhaustion On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.exhaustion","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":480,"y":140,"wires":[["959670ac.f1b7e"]]},{"id":"5e146776.f8c338","type":"delay","z":"d702c63b.736f08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":240,"wires":[["7df118fa.47b778"]]},{"id":"a31d0e05.62f72","type":"api-current-state","z":"d702c63b.736f08","name":"Exhaustion ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":240,"wires":[["5e146776.f8c338","46d57088.32129"],[]]},{"id":"8c8827a0.b1e088","type":"api-current-state","z":"d702c63b.736f08","name":"Exhaustion OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":140,"wires":[["73345fd1.0dfde"],[]]},{"id":"c19d57dc.4f35c8","type":"comment","z":"d702c63b.736f08","name":"Exaustion System","info":"","x":350,"y":20,"wires":[]},{"id":"6e510c31.ecaf64","type":"api-current-state","z":"d702c63b.736f08","name":"General","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":180,"y":240,"wires":[["a31d0e05.62f72"],["a31d0e05.62f72"]]},{"id":"ec67df6e.7f5e2","type":"server-state-changed","z":"d702c63b.736f08","name":"Exhaust System","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.general_exhaust","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":140,"wires":[["8c8827a0.b1e088"],["6e510c31.ecaf64"]]},{"id":"46d57088.32129","type":"change","z":"d702c63b.736f08","name":"set Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":80,"wires":[["959670ac.f1b7e"]]},{"id":"959670ac.f1b7e","type":"looptimer-advanced","z":"d702c63b.736f08","duration":"4","units":"Minute","maxloops":"1000","maxtimeout":"12","maxtimeoutunits":"Hour","name":"","x":680,"y":120,"wires":[["56c989f3.084868"],["6a455da7.84e464"]]},{"id":"56c989f3.084868","type":"api-current-state","z":"d702c63b.736f08","name":"Purifier OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":860,"y":80,"wires":[["effb1c16.bee0e"],[]]},{"id":"effb1c16.bee0e","type":"api-call-service","z":"d702c63b.736f08","name":"Purifier On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.purifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1030,"y":80,"wires":[["c7ddde5.2d4202"]]},{"id":"6a455da7.84e464","type":"api-current-state","z":"d702c63b.736f08","name":"Purifier ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":950,"y":160,"wires":[["e1d2437e.0822a"],[]]},{"id":"e1d2437e.0822a","type":"api-call-service","z":"d702c63b.736f08","name":"Purifier Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.purifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1110,"y":160,"wires":[[]]},{"id":"c7ddde5.2d4202","type":"delay","z":"d702c63b.736f08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":80,"wires":[["6a455da7.84e464"]]},{"id":"f583d274.7a37d","type":"change","z":"d702c63b.736f08","name":"set Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":520,"wires":[["403cc7cc.bc7b08"]]},{"id":"50411ca8.4516e4","type":"server-state-changed","z":"d702c63b.736f08","name":"Led1 OFF?","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.led1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":480,"wires":[["9245f295.eb4b1"],["f583d274.7a37d"]]},{"id":"403cc7cc.bc7b08","type":"looptimer-advanced","z":"d702c63b.736f08","duration":"30","units":"Minute","maxloops":"1000","maxtimeout":"12","maxtimeoutunits":"Hour","name":"","x":360,"y":380,"wires":[["3b98cc2f.441a74"],["7ccf0b75.b106c4"]]},{"id":"6adaecf5.e3a474","type":"delay","z":"d702c63b.736f08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":440,"wires":[["7ccf0b75.b106c4"]]},{"id":"7ccf0b75.b106c4","type":"api-current-state","z":"d702c63b.736f08","name":"Exhaust Syst ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":520,"wires":[["4788b5d2.a9b6cc"],[]]},{"id":"3b98cc2f.441a74","type":"api-current-state","z":"d702c63b.736f08","name":"Exhaust Syst OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":380,"wires":[["94e8b1a7.e9c2"],[]]},{"id":"94e8b1a7.e9c2","type":"api-call-service","z":"d702c63b.736f08","name":"Exhaust Syst ON","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.general_exhaust","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":750,"y":380,"wires":[["6adaecf5.e3a474"]]},{"id":"4788b5d2.a9b6cc","type":"api-call-service","z":"d702c63b.736f08","name":"Exhaust Syst OFF","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.general_exhaust","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":710,"y":520,"wires":[[]]},{"id":"9245f295.eb4b1","type":"api-current-state","z":"d702c63b.736f08","name":"General","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":180,"y":420,"wires":[["403cc7cc.bc7b08"],["7ccf0b75.b106c4"]]},{"id":"92cf13e3.01318","type":"server","name":"Home Assistant","addon":true}]