Flow Node-Red/flow-Co2System-FIFUv1.2.json
[{"id":"5166aadc.8a12d4","type":"tab","label":"Co2 System","disabled":false,"info":""},{"id":"f01553b6.a4724","type":"comment","z":"5166aadc.8a12d4","name":"Co2 System","info":"","x":330,"y":20,"wires":[]},{"id":"1314e203.5d67ce","type":"api-call-service","z":"5166aadc.8a12d4","name":"Co2 On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.co2","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":260,"wires":[["4cc0f079.4ba46"]]},{"id":"ff24531b.a3f24","type":"api-call-service","z":"5166aadc.8a12d4","name":"Co2 Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.co2","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":660,"y":140,"wires":[["4cc0f079.4ba46"]]},{"id":"6d8b7d6.ca09184","type":"api-current-state","z":"5166aadc.8a12d4","name":"Co2 ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":140,"wires":[["ff24531b.a3f24"],[]]},{"id":"67f95ee.d36bfa","type":"api-current-state","z":"5166aadc.8a12d4","name":"Co2 OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":260,"wires":[["1314e203.5d67ce"],[]]},{"id":"927c0012.5139f","type":"server-state-changed","z":"5166aadc.8a12d4","name":"Co2 NOW","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.tasmota_mhz19b_carbondioxide","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":200,"wires":[["20aa35db.2619aa"]]},{"id":"20aa35db.2619aa","type":"join","z":"5166aadc.8a12d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":270,"y":120,"wires":[["6628328b.20c7cc"]]},{"id":"f7e7317a.093ae","type":"function","z":"5166aadc.8a12d4","name":"","func":"var myco2 = Number(msg.payload[\"input_number.co2_manually\"]);\nvar co2max = Number(msg.payload[\"input_number.co2_max\"]);\nvar co2min = Number(msg.payload[\"input_number.co2_min\"]);\n\n\nif(myco2 <= co2min){\n    return [null, msg, null];\n}\nelse if(myco2 > co2max){\n    return [msg, null, null];\n}\nelse if((myco2 < (co2max - 200)) && (myco2 > co2min)){\n    return [null, null, msg];\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":280,"y":360,"wires":[["6d8b7d6.ca09184","6232af96.ae913"],["3ffa0c51.43ecc4","67f95ee.d36bfa","7812b9fb.b7b078"],["6d8b7d6.ca09184","5780eb8f.80a1f4"]]},{"id":"1f2a450a.0e8c3b","type":"link out","z":"5166aadc.8a12d4","name":"TelegramOut","links":["f1029ef3.20edd"],"x":895,"y":260,"wires":[]},{"id":"edcc5c14.56152","type":"change","z":"5166aadc.8a12d4","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"fanauxiliar","fromt":"str","to":"Auxiliary Fan","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"co2","fromt":"str","to":"CO2 System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"Desligado","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"Ligado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":180,"wires":[["1f2a450a.0e8c3b"]]},{"id":"4cc0f079.4ba46","type":"function","z":"5166aadc.8a12d4","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":180,"wires":[["edcc5c14.56152"]]},{"id":"e23d06d9.abab48","type":"server-state-changed","z":"5166aadc.8a12d4","name":"Co2 MIN","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.co2_min","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":80,"wires":[["20aa35db.2619aa"]]},{"id":"b359b052.c1367","type":"server-state-changed","z":"5166aadc.8a12d4","name":"Co2 MAX","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.co2_max","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":140,"wires":[["20aa35db.2619aa"]]},{"id":"3ffa0c51.43ecc4","type":"api-current-state","z":"5166aadc.8a12d4","name":"Fan ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":200,"wires":[["ef03074d.dc0128"],[]]},{"id":"ef03074d.dc0128","type":"api-call-service","z":"5166aadc.8a12d4","name":"Fan Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":660,"y":200,"wires":[["4cc0f079.4ba46"]]},{"id":"7812b9fb.b7b078","type":"api-current-state","z":"5166aadc.8a12d4","name":"Exhaustion ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":380,"wires":[["e3459613.2b28e8"],[]]},{"id":"e3459613.2b28e8","type":"api-call-service","z":"5166aadc.8a12d4","name":"Exhaustion Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.exhaustion","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":760,"y":380,"wires":[["aa576581.2e04c8"]]},{"id":"4acfa7ec.5b47b8","type":"api-current-state","z":"5166aadc.8a12d4","name":"General Co2 ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_co2","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":270,"y":200,"wires":[["ac06442e.cd0258"],["6d8b7d6.ca09184"]]},{"id":"75dabf79.f0ecd","type":"api-call-service","z":"5166aadc.8a12d4","name":"FanAux On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":440,"wires":[["7a997ba9.d0ffd4"]]},{"id":"7a997ba9.d0ffd4","type":"delay","z":"5166aadc.8a12d4","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":440,"wires":[["2e426b55.e754c4"]]},{"id":"5d8198a6.2735f8","type":"api-current-state","z":"5166aadc.8a12d4","name":"FanAux OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":580,"y":440,"wires":[["75dabf79.f0ecd"],[]]},{"id":"af453111.0c3dd","type":"delay","z":"5166aadc.8a12d4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":500,"wires":[["5780eb8f.80a1f4"]]},{"id":"2b8dd3b3.6678bc","type":"api-call-service","z":"5166aadc.8a12d4","name":"FanAux Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":500,"wires":[["af453111.0c3dd"]]},{"id":"2e426b55.e754c4","type":"api-current-state","z":"5166aadc.8a12d4","name":"FanAux ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":590,"y":500,"wires":[["2b8dd3b3.6678bc"],[]]},{"id":"5780eb8f.80a1f4","type":"api-current-state","z":"5166aadc.8a12d4","name":"CO2 OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":460,"wires":[["5d8198a6.2735f8"],["3ffa0c51.43ecc4"]]},{"id":"6232af96.ae913","type":"api-current-state","z":"5166aadc.8a12d4","name":"Exhaust Syst OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":320,"wires":[["8006c509.4b6418"],[]]},{"id":"8006c509.4b6418","type":"api-call-service","z":"5166aadc.8a12d4","name":"Exhaust Syst ON","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.general_exhaust","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":750,"y":320,"wires":[[]]},{"id":"aa576581.2e04c8","type":"api-current-state","z":"5166aadc.8a12d4","name":"Purifier ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":930,"y":380,"wires":[["4f4fee0e.2370b"],[]]},{"id":"4f4fee0e.2370b","type":"api-call-service","z":"5166aadc.8a12d4","name":"Purifier Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.purifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":380,"wires":[[]]},{"id":"ac06442e.cd0258","type":"api-current-state","z":"5166aadc.8a12d4","name":"Exhaust Syst ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":270,"y":260,"wires":[[],["f7e7317a.093ae"]]},{"id":"6628328b.20c7cc","type":"api-current-state","z":"5166aadc.8a12d4","name":"Led ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.led1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":260,"y":160,"wires":[["4acfa7ec.5b47b8"],["6d8b7d6.ca09184"]]},{"id":"3818802d.91eb7","type":"server-state-changed","z":"5166aadc.8a12d4","d":true,"name":"co2 man","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.co2_manually","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":260,"wires":[["20aa35db.2619aa"]]},{"id":"92cf13e3.01318","type":"server","name":"Home Assistant","addon":true}]