Flow Node-Red/flow-Timers-FIFUv1.1.json
[{"id":"b5c7de9f.7e7bd","type":"tab","label":"Timers","disabled":false,"info":""},{"id":"37d5194b.6a8246","type":"poll-state","z":"b5c7de9f.7e7bd","name":"Timer On","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"61","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"input_datetime.mytimeon_light1","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":100,"y":80,"wires":[["13d10e.93603ef2"]]},{"id":"13d10e.93603ef2","type":"template","z":"b5c7de9f.7e7bd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ontime {{payload}}","output":"str","x":240,"y":80,"wires":[["7b21f7e4.28d358"]]},{"id":"a2db512a.9829c","type":"poll-state","z":"b5c7de9f.7e7bd","name":"Timer Off","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"61","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"input_datetime.mytimeoff_light1","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":80,"y":200,"wires":[["282b1916.9f65d6"]]},{"id":"282b1916.9f65d6","type":"template","z":"b5c7de9f.7e7bd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"offtime {{payload}}","output":"str","x":240,"y":200,"wires":[["7b21f7e4.28d358"]]},{"id":"7b21f7e4.28d358","type":"schedex","z":"b5c7de9f.7e7bd","name":"Timer","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"07:28","ontopic":"","onpayload":"1","onoffset":0,"onrandomoffset":0,"offtime":"goldenHour","offtopic":"","offpayload":"0","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":110,"y":140,"wires":[["e4266a7.ae12998"]]},{"id":"4a539033.685b2","type":"switch","z":"b5c7de9f.7e7bd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":140,"wires":[["20d33e24.21af72"],["161b3cfa.213403"]]},{"id":"20d33e24.21af72","type":"api-current-state","z":"b5c7de9f.7e7bd","name":"Led ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.led1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":80,"wires":[[],["27fc3623.4062fa"]]},{"id":"161b3cfa.213403","type":"api-current-state","z":"b5c7de9f.7e7bd","name":"Led OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.led1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":200,"wires":[[],["7ae05496.93ad0c"]]},{"id":"27fc3623.4062fa","type":"api-call-service","z":"b5c7de9f.7e7bd","name":"Led1 On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.led1","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":660,"y":80,"wires":[["6f4fad10.4d8e54"]]},{"id":"7ae05496.93ad0c","type":"api-call-service","z":"b5c7de9f.7e7bd","name":"Led1 Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.led1","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":200,"wires":[["6f4fad10.4d8e54"]]},{"id":"e4266a7.ae12998","type":"api-current-state","z":"b5c7de9f.7e7bd","name":"General","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":380,"y":140,"wires":[["4a539033.685b2"],["161b3cfa.213403"]]},{"id":"71a5700a.9d4b6","type":"comment","z":"b5c7de9f.7e7bd","name":"Timer","info":"","x":310,"y":20,"wires":[]},{"id":"2aacf333.3e927c","type":"change","z":"b5c7de9f.7e7bd","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"led1","fromt":"str","to":"Led Light 1","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":140,"wires":[["e1ab5e55.fc3b1"]]},{"id":"6f4fad10.4d8e54","type":"function","z":"b5c7de9f.7e7bd","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":140,"wires":[["2aacf333.3e927c"]]},{"id":"e1ab5e55.fc3b1","type":"link out","z":"b5c7de9f.7e7bd","name":"","links":["f1029ef3.20edd"],"x":975,"y":140,"wires":[]},{"id":"92cf13e3.01318","type":"server","name":"Home Assistant","addon":true}]