Flow Node-Red/Full-flow-FIFUv1.1.json
[{"id":"b5c7de9f.7e7bd","type":"tab","label":"Timers","disabled":false,"info":""},{"id":"b305798e.a0d1c8","type":"tab","label":"General Notifier","disabled":false,"info":""},{"id":"cff7a33a.e6305","type":"tab","label":"Temperature Control","disabled":false,"info":""},{"id":"38e584a.92a327c","type":"tab","label":"Control Humidity","disabled":false,"info":""},{"id":"d702c63b.736f08","type":"tab","label":"Exhaustion System","disabled":false,"info":""},{"id":"5166aadc.8a12d4","type":"tab","label":"Co2 System","disabled":false,"info":""},{"id":"3fe4ec69.453314","type":"tab","label":"FanLoop","disabled":false,"info":""},{"id":"92cf13e3.01318","type":"server","name":"Home Assistant","addon":true},{"id":"3ffee45b.b9ea0c","type":"telegrambot-config","botname":"domatohole_bot","usernames":"domato69","chatIds":"664078350","pollInterval":"300"},{"id":"8966b541.614eb8","type":"api-call-service","z":"cff7a33a.e6305","name":"Heater ON","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.heating","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":80,"wires":[["68a8346c.a803dc"]]},{"id":"28052ede.003262","type":"api-call-service","z":"cff7a33a.e6305","name":"Heater Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.heating","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":140,"wires":[["68a8346c.a803dc"]]},{"id":"a2f92607.92e118","type":"api-current-state","z":"cff7a33a.e6305","name":"Heater ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.heating","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":140,"wires":[["28052ede.003262"],[]]},{"id":"ca33fc81.d52e1","type":"api-current-state","z":"cff7a33a.e6305","name":"Heater OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.heating","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":80,"wires":[["8966b541.614eb8"],[]]},{"id":"84d057dd.6090b8","type":"comment","z":"cff7a33a.e6305","name":"Control Termperature","info":"","x":360,"y":20,"wires":[]},{"id":"4cf70d4.0cc8af4","type":"server-state-changed","z":"cff7a33a.e6305","name":"Temp. MIN","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.temp_min","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":120,"wires":[["80b3b98b.87ecc8"]]},{"id":"6e5235dd.2c537c","type":"server-state-changed","z":"cff7a33a.e6305","name":"Temp. NOW","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.led1_si7021_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":240,"wires":[["80b3b98b.87ecc8"]]},{"id":"2b65fe84.c5b7b2","type":"server-state-changed","z":"cff7a33a.e6305","name":"Temp. MAX","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.temp_max","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":180,"wires":[["80b3b98b.87ecc8"]]},{"id":"80b3b98b.87ecc8","type":"join","z":"cff7a33a.e6305","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":290,"y":140,"wires":[["30094a37.2f8d76"]]},{"id":"6702cb9a.42afe4","type":"function","z":"cff7a33a.e6305","name":"","func":"var mytemperature = Number(msg.payload[\"sensor.led1_si7021_temperature\"]);\nvar tempmax = Number(msg.payload[\"input_number.temp_max\"]);\nvar tempmin = Number(msg.payload[\"input_number.temp_min\"]);\nif(((mytemperature < (tempmax - 2)) && (mytemperature > tempmin))){\n    return [null, null, msg];\n}\nelse if(mytemperature > tempmax){\n    return [null, msg, null];\n}\nelse if(mytemperature < tempmin){\n    return [msg, null, null];\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":60,"y":320,"wires":[["ca33fc81.d52e1","fc0d2f1c.d9872","68502896.bff5a8"],["5419af82.25e38","a2f92607.92e118","68502896.bff5a8"],["a2f92607.92e118","fc0d2f1c.d9872","37ab256c.62254a"]]},{"id":"446fa548.78d97c","type":"link out","z":"cff7a33a.e6305","name":"","links":["f1029ef3.20edd"],"x":955,"y":220,"wires":[]},{"id":"1acfe874.2a5e28","type":"change","z":"cff7a33a.e6305","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"general_exhaust_co2","fromt":"str","to":"Exhaust System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"heating","fromt":"str","to":"Heater","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"fanauxiliar","fromt":"str","to":"Fan Auxiliary","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":180,"wires":[["446fa548.78d97c"]]},{"id":"68a8346c.a803dc","type":"function","z":"cff7a33a.e6305","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":140,"wires":[["1acfe874.2a5e28"]]},{"id":"fc0d2f1c.d9872","type":"api-current-state","z":"cff7a33a.e6305","name":"Exhaust Syst ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":260,"wires":[["35130ee7.57db62"],[]]},{"id":"5419af82.25e38","type":"api-current-state","z":"cff7a33a.e6305","name":"Exhaust Syst OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":200,"wires":[["124cf575.9df6eb"],[]]},{"id":"124cf575.9df6eb","type":"api-call-service","z":"cff7a33a.e6305","name":"Exhaust Syst ON","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.general_exhaust","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":730,"y":200,"wires":[[]]},{"id":"35130ee7.57db62","type":"api-call-service","z":"cff7a33a.e6305","name":"Exhaust Syst OFF","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.general_exhaust","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":710,"y":260,"wires":[[]]},{"id":"e68593ac.3b9f","type":"api-call-service","z":"d702c63b.736f08","name":"Purifier Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.purifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":710,"y":260,"wires":[["6b4d104d.454"]]},{"id":"7df118fa.47b778","type":"api-call-service","z":"d702c63b.736f08","name":"Exhaustion Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.exhaustion","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":320,"wires":[["6b4d104d.454"]]},{"id":"73345fd1.0dfde","type":"api-call-service","z":"d702c63b.736f08","name":"Exhaustion On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.exhaustion","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":500,"y":180,"wires":[["6b4d104d.454","74ff8fca.d861d"]]},{"id":"5e146776.f8c338","type":"delay","z":"d702c63b.736f08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":320,"wires":[["7df118fa.47b778"]]},{"id":"ff8a339f.90b9b","type":"api-current-state","z":"d702c63b.736f08","name":"Purifier ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":260,"wires":[["e68593ac.3b9f"],[]]},{"id":"a31d0e05.62f72","type":"api-current-state","z":"d702c63b.736f08","name":"Exhaustion ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":260,"wires":[["ff8a339f.90b9b","5e146776.f8c338"],[]]},{"id":"8c8827a0.b1e088","type":"api-current-state","z":"d702c63b.736f08","name":"Exhaustion OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":180,"wires":[["73345fd1.0dfde"],[]]},{"id":"c19d57dc.4f35c8","type":"comment","z":"d702c63b.736f08","name":"Exaustion System","info":"","x":350,"y":20,"wires":[]},{"id":"6b4d104d.454","type":"function","z":"d702c63b.736f08","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":200,"wires":[["1d08a770.946269"]]},{"id":"1d08a770.946269","type":"change","z":"d702c63b.736f08","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"exhaustion","fromt":"str","to":"Exhaustor","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"purifier","fromt":"str","to":"Purifier","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":260,"wires":[["1da0e32e.267e6d"]]},{"id":"f01553b6.a4724","type":"comment","z":"5166aadc.8a12d4","name":"Co2 System","info":"","x":330,"y":20,"wires":[]},{"id":"1314e203.5d67ce","type":"api-call-service","z":"5166aadc.8a12d4","name":"Co2 On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.co2","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":660,"y":220,"wires":[["4cc0f079.4ba46"]]},{"id":"ff24531b.a3f24","type":"api-call-service","z":"5166aadc.8a12d4","name":"Co2 Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.co2","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":640,"y":100,"wires":[["4cc0f079.4ba46"]]},{"id":"6d8b7d6.ca09184","type":"api-current-state","z":"5166aadc.8a12d4","name":"Co2 ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":100,"wires":[["ff24531b.a3f24"],[]]},{"id":"67f95ee.d36bfa","type":"api-current-state","z":"5166aadc.8a12d4","name":"Co2 OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":220,"wires":[["1314e203.5d67ce"],[]]},{"id":"927c0012.5139f","type":"server-state-changed","z":"5166aadc.8a12d4","d":true,"name":"Co2 NOW","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.led1_si7021_dewpoint","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":200,"wires":[["20aa35db.2619aa"]]},{"id":"20aa35db.2619aa","type":"join","z":"5166aadc.8a12d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":270,"y":120,"wires":[["d1d4402.e62dec"]]},{"id":"f7e7317a.093ae","type":"function","z":"5166aadc.8a12d4","name":"","func":"var myco2 = Number(msg.payload[\"input_number.co2_manually\"]);\nvar co2max = Number(msg.payload[\"input_number.co2_max\"]);\nvar co2min = Number(msg.payload[\"input_number.co2_min\"]);\n\n\nif(myco2 <= co2min){\n    return [null, msg, null];\n}\nelse if(myco2 > co2max){\n    return [msg, null, null];\n}\nelse if((myco2 < (co2max - 200)) && (myco2 > co2min)){\n    return [null, null, msg];\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":260,"y":300,"wires":[["6d8b7d6.ca09184","17557758.026bb9"],["3ffa0c51.43ecc4","67f95ee.d36bfa","7812b9fb.b7b078"],["e66e90dd.40583","6d8b7d6.ca09184"]]},{"id":"1da0e32e.267e6d","type":"link out","z":"d702c63b.736f08","name":"TelegramOut","links":["f1029ef3.20edd"],"x":955,"y":340,"wires":[]},{"id":"1f2a450a.0e8c3b","type":"link out","z":"5166aadc.8a12d4","name":"TelegramOut","links":["f1029ef3.20edd"],"x":895,"y":260,"wires":[]},{"id":"edcc5c14.56152","type":"change","z":"5166aadc.8a12d4","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"fanauxiliar","fromt":"str","to":"Auxiliary Fan","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"co2","fromt":"str","to":"CO2 System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"Desligado","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"Ligado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":180,"wires":[["1f2a450a.0e8c3b"]]},{"id":"4cc0f079.4ba46","type":"function","z":"5166aadc.8a12d4","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":180,"wires":[["edcc5c14.56152"]]},{"id":"e23d06d9.abab48","type":"server-state-changed","z":"5166aadc.8a12d4","name":"Co2 MIN","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.co2_min","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":80,"wires":[["20aa35db.2619aa"]]},{"id":"b359b052.c1367","type":"server-state-changed","z":"5166aadc.8a12d4","name":"Co2 MAX","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.co2_max","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":140,"wires":[["20aa35db.2619aa"]]},{"id":"3818802d.91eb7","type":"server-state-changed","z":"5166aadc.8a12d4","name":"co2 man","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.co2_manually","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":260,"wires":[["20aa35db.2619aa"]]},{"id":"37d5194b.6a8246","type":"poll-state","z":"b5c7de9f.7e7bd","name":"Timer On","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"61","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"input_datetime.mytimeon_light1","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":100,"y":80,"wires":[["13d10e.93603ef2"]]},{"id":"13d10e.93603ef2","type":"template","z":"b5c7de9f.7e7bd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ontime {{payload}}","output":"str","x":240,"y":80,"wires":[["7b21f7e4.28d358"]]},{"id":"a2db512a.9829c","type":"poll-state","z":"b5c7de9f.7e7bd","name":"Timer Off","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"61","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"input_datetime.mytimeoff_light1","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":80,"y":200,"wires":[["282b1916.9f65d6"]]},{"id":"282b1916.9f65d6","type":"template","z":"b5c7de9f.7e7bd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"offtime {{payload}}","output":"str","x":240,"y":200,"wires":[["7b21f7e4.28d358"]]},{"id":"7b21f7e4.28d358","type":"schedex","z":"b5c7de9f.7e7bd","name":"Timer","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"07:28","ontopic":"","onpayload":"1","onoffset":0,"onrandomoffset":0,"offtime":"goldenHour","offtopic":"","offpayload":"0","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":110,"y":140,"wires":[["e4266a7.ae12998"]]},{"id":"4a539033.685b2","type":"switch","z":"b5c7de9f.7e7bd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":140,"wires":[["20d33e24.21af72"],["161b3cfa.213403"]]},{"id":"20d33e24.21af72","type":"api-current-state","z":"b5c7de9f.7e7bd","name":"Led ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.led1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":80,"wires":[[],["27fc3623.4062fa"]]},{"id":"161b3cfa.213403","type":"api-current-state","z":"b5c7de9f.7e7bd","name":"Led OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.led1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":200,"wires":[[],["7ae05496.93ad0c"]]},{"id":"27fc3623.4062fa","type":"api-call-service","z":"b5c7de9f.7e7bd","name":"Led1 On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.led1","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":660,"y":80,"wires":[["6f4fad10.4d8e54"]]},{"id":"7ae05496.93ad0c","type":"api-call-service","z":"b5c7de9f.7e7bd","name":"Led1 Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.led1","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":200,"wires":[["6f4fad10.4d8e54"]]},{"id":"e4266a7.ae12998","type":"api-current-state","z":"b5c7de9f.7e7bd","name":"General","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":380,"y":140,"wires":[["4a539033.685b2"],["161b3cfa.213403"]]},{"id":"71a5700a.9d4b6","type":"comment","z":"b5c7de9f.7e7bd","name":"Timer","info":"","x":310,"y":20,"wires":[]},{"id":"2aacf333.3e927c","type":"change","z":"b5c7de9f.7e7bd","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"led1","fromt":"str","to":"Led Light 1","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":140,"wires":[["e1ab5e55.fc3b1"]]},{"id":"6f4fad10.4d8e54","type":"function","z":"b5c7de9f.7e7bd","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":140,"wires":[["2aacf333.3e927c"]]},{"id":"d1d4402.e62dec","type":"api-current-state","z":"5166aadc.8a12d4","name":"Co2 ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":260,"y":200,"wires":[["f7e7317a.093ae"],[]]},{"id":"30094a37.2f8d76","type":"api-current-state","z":"cff7a33a.e6305","name":"General","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":280,"y":220,"wires":[["6702cb9a.42afe4"],["a2f92607.92e118","fc0d2f1c.d9872","68502896.bff5a8"]]},{"id":"68502896.bff5a8","type":"api-current-state","z":"cff7a33a.e6305","name":"CO2 ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":380,"wires":[["d7c37dee.4d32b"],[]]},{"id":"48813e1a.82858","type":"api-call-service","z":"cff7a33a.e6305","name":"CO2 ON","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.co2","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":980,"y":320,"wires":[["68a8346c.a803dc"]]},{"id":"d7c37dee.4d32b","type":"api-call-service","z":"cff7a33a.e6305","name":"CO2 OFF","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.co2","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":620,"y":380,"wires":[["68a8346c.a803dc"]]},{"id":"43eefc04.e120a4","type":"api-current-state","z":"cff7a33a.e6305","name":"CO2 OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":320,"wires":[["fc0d2f1c.d9872","ba2ff3e1.ffe2b"],[]]},{"id":"3ffa0c51.43ecc4","type":"api-current-state","z":"5166aadc.8a12d4","name":"Fan ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":160,"wires":[["ef03074d.dc0128"],[]]},{"id":"ef03074d.dc0128","type":"api-call-service","z":"5166aadc.8a12d4","name":"Fan Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":640,"y":160,"wires":[["4cc0f079.4ba46"]]},{"id":"6e510c31.ecaf64","type":"api-current-state","z":"d702c63b.736f08","name":"General","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":200,"y":260,"wires":[["a31d0e05.62f72"],["a31d0e05.62f72"]]},{"id":"ec67df6e.7f5e2","type":"server-state-changed","z":"d702c63b.736f08","name":"Exhaust System","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.general_exhaust","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":100,"y":200,"wires":[["8c8827a0.b1e088"],["6e510c31.ecaf64"]]},{"id":"e1ab5e55.fc3b1","type":"link out","z":"b5c7de9f.7e7bd","name":"","links":["f1029ef3.20edd"],"x":975,"y":140,"wires":[]},{"id":"5ab364cf.7106dc","type":"exec","z":"b305798e.a0d1c8","command":"curl bot.whatismyipaddress.com","addpay":false,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"Call IP - whatismyipaddress.com","x":350,"y":520,"wires":[["e357bad.4611b48"],[],[]]},{"id":"82ac50d6.b1c66","type":"function","z":"b305798e.a0d1c8","name":"Compare IP","func":"context.lastip = context.lastip || 'initial';\nvar currentip = msg.payload;\n\nif (context.lastip == 'initial') {\ncontext.lastip = currentip;\n}\nelse if (context.lastip != currentip) {\ntextoip = \"My IP was changed to: \"+currentip;\ncontext.lastip = currentip;\nreturn {'payload': {'text':textoip}};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":580,"wires":[["2ec3085.ca476f8"]]},{"id":"e357bad.4611b48","type":"switch","z":"b305798e.a0d1c8","name":"Integrity check","property":"payload","rules":[{"t":"regex","v":"\\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\b"},{"t":"else"}],"checkall":"true","outputs":2,"x":580,"y":520,"wires":[["82ac50d6.b1c66"],[]]},{"id":"67c395d7.4e2e2c","type":"comment","z":"b305798e.a0d1c8","name":"Telegram Commands","info":"","x":360,"y":20,"wires":[]},{"id":"f1029ef3.20edd","type":"link in","z":"b305798e.a0d1c8","name":"TelegramIN","links":["1da0e32e.267e6d","1f2a450a.0e8c3b","446fa548.78d97c","7a19f858.e62ba8","e1ab5e55.fc3b1","c04c450e.d21948","7e61d5f9.de157c"],"x":895,"y":640,"wires":[["2ec3085.ca476f8"]]},{"id":"c9dfb02b.05699","type":"comment","z":"b305798e.a0d1c8","name":"Check IP","info":"","x":320,"y":460,"wires":[]},{"id":"910e3954.150968","type":"inject","z":"b305798e.a0d1c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"14400","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":130,"y":520,"wires":[["5ab364cf.7106dc"]]},{"id":"19b9511.d7f26af","type":"telegrambot-command","z":"b305798e.a0d1c8","name":"/status","bot":"3ffee45b.b9ea0c","command":"/status","commandType":"str","commandCase":true,"x":70,"y":80,"wires":[["40fe27ed.424688"]]},{"id":"a92216af.c0a0b8","type":"api-current-state","z":"b305798e.a0d1c8","name":"Temperature Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.led1_si7021_temperature","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":160,"wires":[["b968a976.15d6f8"]]},{"id":"303bc131.d3f22e","type":"telegrambot-notify","z":"b305798e.a0d1c8","name":"Notifier","bot":"3ffee45b.b9ea0c","chatId":"664078350","message":"","parseMode":"HTML","x":880,"y":220,"wires":[]},{"id":"1867d303.e4285d","type":"api-current-state","z":"b305798e.a0d1c8","name":"Humidity Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.led1_si7021_humidity","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":100,"y":200,"wires":[["8b92647f.7ebcb8"]]},{"id":"1be8e468.4ddc0c","type":"api-current-state","z":"b305798e.a0d1c8","name":"Led1 Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.led1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":120,"wires":[["a92216af.c0a0b8"]]},{"id":"b968a976.15d6f8","type":"api-current-state","z":"b305798e.a0d1c8","name":"Heater Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.heating","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":110,"y":160,"wires":[["1867d303.e4285d"]]},{"id":"43202bc3.fd4f44","type":"api-current-state","z":"b305798e.a0d1c8","name":"Exhaustion Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"exhaust","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":240,"wires":[["573f48bb.c48538"]]},{"id":"f737321b.0864","type":"api-current-state","z":"b305798e.a0d1c8","name":"General CO2 Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":120,"wires":[["8120cbfb.8a2708"]]},{"id":"8b92647f.7ebcb8","type":"api-current-state","z":"b305798e.a0d1c8","name":"Dehumidifier Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.dehumidifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":90,"y":240,"wires":[["e180966f.5d7bc8"]]},{"id":"8120cbfb.8a2708","type":"api-current-state","z":"b305798e.a0d1c8","name":"Co2 Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":160,"wires":[["e293f287.f7936"]]},{"id":"573f48bb.c48538","type":"api-current-state","z":"b305798e.a0d1c8","name":"Purifier Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"purifier","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":80,"wires":[["f737321b.0864"]]},{"id":"e180966f.5d7bc8","type":"api-current-state","z":"b305798e.a0d1c8","name":"Exhaust System","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"str","state_location":"genexaust","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":200,"wires":[["43202bc3.fd4f44"]]},{"id":"40fe27ed.424688","type":"api-current-state","z":"b305798e.a0d1c8","name":"General Terrarium Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":80,"wires":[["1be8e468.4ddc0c"]]},{"id":"e293f287.f7936","type":"api-current-state","z":"b305798e.a0d1c8","name":"Fan Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":200,"wires":[["9ff252d6.2ca46"]]},{"id":"e56c528e.1e418","type":"api-render-template","z":"b305798e.a0d1c8","name":"Template Status","server":"92cf13e3.01318","template":"<b>Status AIF</b>\n---------------------------------------\nTerrário:   |<b>{{ states('input_boolean.terrarium1')}}</b>\nLogger:     |<b>{{ states('input_boolean.general_logger')}}</b>\nLight:      |<b>{{ states('switch.led1')}}</b>\nTemperature:|<b>{{ states('sensor.led1_si7021_temperature') }}</b>\nExhaut. Sys:|<b>{{ states('input_boolean.general_exhaust')}}</b>\nExhaustion: |<b>{{ states('switch.exhaustion')}}</b>\nPurifier:   |<b>{{ states('switch.purifier')}}</b>\nHeater:     |<b>{{ states('switch.heating')}}</b>\nHumidity:   |<b>{{ states('sensor.led1_si7021_humidity')}}</b>\nDehumidifie:|<b>{{ states('switch.dehumidifier')}}</b>\nCo2 System: |<b>{{ states('input_boolean.general_co2')}}</b>\nCo2:        |<b>{{ states('switch.co2')}}</b>\nFan:        |<b>{{ states('switch.fanauxiliar')}}</b>","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":700,"y":80,"wires":[["bbaa34f3.0e4008"]]},{"id":"ba2ff3e1.ffe2b","type":"delay","z":"cff7a33a.e6305","name":"Delay 2m","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":320,"wires":[["48813e1a.82858"]]},{"id":"beda141b.cf5eb8","type":"comment","z":"38e584a.92a327c","name":"Control Humidity","info":"","x":340,"y":20,"wires":[]},{"id":"367e2117.1de95e","type":"server-state-changed","z":"38e584a.92a327c","name":"Humi Target","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.humid_target","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":80,"wires":[["2350a9f3.b9d8f6"]]},{"id":"a8544e42.3829d","type":"server-state-changed","z":"38e584a.92a327c","name":"Humi Toler","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.humid_tolerance","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":140,"wires":[["2350a9f3.b9d8f6"]]},{"id":"317c3f5f.7ac22","type":"server-state-changed","z":"38e584a.92a327c","name":"Humi NOW","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.led1_si7021_humidity","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":200,"wires":[["2350a9f3.b9d8f6"]]},{"id":"5c35bb8a.ded654","type":"api-current-state","z":"38e584a.92a327c","name":"Dehumidifier OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.dehumidifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":80,"wires":[["92773cbc.50531"],[]]},{"id":"93b385fe.60bba8","type":"api-current-state","z":"38e584a.92a327c","name":"Dehumidifier ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.dehumidifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":200,"wires":[["48496c93.d360b4"],[]]},{"id":"92773cbc.50531","type":"api-call-service","z":"38e584a.92a327c","name":"Dehumidifier On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.dehumidifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":520,"y":80,"wires":[["d9e50446.e13668","ccda5da6.8232a"]]},{"id":"48496c93.d360b4","type":"api-call-service","z":"38e584a.92a327c","name":"Dehumidifier Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.dehumidifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":520,"y":200,"wires":[["d9e50446.e13668"]]},{"id":"2350a9f3.b9d8f6","type":"join","z":"38e584a.92a327c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":230,"y":140,"wires":[["be02618c.a087"]]},{"id":"d9e85d66.0972a","type":"function","z":"38e584a.92a327c","name":"","func":"var humid = Number(msg.payload[\"sensor.led1_si7021_humidity\"]);\nvar humidtarget = Number(msg.payload[\"input_number.humid_target\"]);\nvar humidtolerance = Number(msg.payload[\"input_number.humid_tolerance\"]);\nvar humidup = (humidtarget + humidtolerance);\nvar humiddown = (humidtarget - humidtolerance);\n\nif (humid > humidup) {\n    return [msg, null, null];\n}if (humid < humiddown) {\n    return [null, msg, null];\n}\nelse if ((humid > humiddown) && (humid < humidup)) {\n    return [null, null, msg];\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":520,"y":140,"wires":[["5c35bb8a.ded654"],["93b385fe.60bba8"],["93b385fe.60bba8"]]},{"id":"d9e50446.e13668","type":"function","z":"38e584a.92a327c","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":140,"wires":[["a1c81d43.e8c08"]]},{"id":"a1c81d43.e8c08","type":"change","z":"38e584a.92a327c","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"dehumidifier","fromt":"str","to":"Dehumidifier","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":180,"wires":[["7a19f858.e62ba8"]]},{"id":"be02618c.a087","type":"api-current-state","z":"38e584a.92a327c","name":"General","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":360,"y":140,"wires":[["d9e85d66.0972a"],["93b385fe.60bba8"]]},{"id":"7a19f858.e62ba8","type":"link out","z":"38e584a.92a327c","name":"","links":["581ac627.fc1328","b0c51313.de2ae","f1029ef3.20edd"],"x":815,"y":140,"wires":[]},{"id":"3b193f79.2b8ef","type":"telegrambot-payload","z":"b305798e.a0d1c8","name":"Notifier","bot":"3ffee45b.b9ea0c","chatId":"664078350","sendMethod":"sendMessage","payload":"","x":860,"y":320,"wires":[[]]},{"id":"37ab256c.62254a","type":"api-current-state","z":"cff7a33a.e6305","name":"General Co2 ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_co2","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":490,"y":320,"wires":[["43eefc04.e120a4"],["68502896.bff5a8"]]},{"id":"2ec3085.ca476f8","type":"api-current-state","z":"b305798e.a0d1c8","name":"Logger ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_logger","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":770,"y":520,"wires":[["3b193f79.2b8ef"],[]]},{"id":"4d1f5d77.e11904","type":"telegrambot-command","z":"b305798e.a0d1c8","name":"/logon","bot":"3ffee45b.b9ea0c","command":"/logon","commandType":"str","commandCase":false,"x":70,"y":320,"wires":[["90a2658c.4644e8"]]},{"id":"45511a9e.c99ba4","type":"telegrambot-command","z":"b305798e.a0d1c8","name":"/logoff","bot":"3ffee45b.b9ea0c","command":"/logoff","commandType":"str","commandCase":false,"x":70,"y":360,"wires":[["90a2658c.4644e8"]]},{"id":"90a2658c.4644e8","type":"switch","z":"b305798e.a0d1c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"/logon","vt":"str"},{"t":"eq","v":"/logoff","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":340,"wires":[["21fbc62b.1beb4a"],["39080e0b.b7ccf2"]]},{"id":"21fbc62b.1beb4a","type":"api-call-service","z":"b305798e.a0d1c8","name":"Logger ON","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.general_logger","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":330,"y":320,"wires":[["58ec6825.8ecbe8"]]},{"id":"39080e0b.b7ccf2","type":"api-call-service","z":"b305798e.a0d1c8","name":"Logger OFF","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.general_logger","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":330,"y":360,"wires":[["58ec6825.8ecbe8"]]},{"id":"9ff252d6.2ca46","type":"api-current-state","z":"b305798e.a0d1c8","name":"Logger","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_logger","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":240,"wires":[["e56c528e.1e418"]]},{"id":"58ec6825.8ecbe8","type":"function","z":"b305798e.a0d1c8","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":340,"wires":[["bfdf63af.1a66b"]]},{"id":"bfdf63af.1a66b","type":"change","z":"b305798e.a0d1c8","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"general_logger","fromt":"str","to":"Logger System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":340,"wires":[["3b193f79.2b8ef"]]},{"id":"bbaa34f3.0e4008","type":"api-current-state","z":"b305798e.a0d1c8","name":"Logger ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_logger","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":710,"y":120,"wires":[["303bc131.d3f22e"],[]]},{"id":"7dddedee.e87b74","type":"comment","z":"b305798e.a0d1c8","name":"General","info":"","x":310,"y":680,"wires":[]},{"id":"2698dbda.f7cd44","type":"server-state-changed","z":"b305798e.a0d1c8","name":"Terrarium1General","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.terrarium1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":740,"wires":[["12d6f894.14ef17"],["12d6f894.14ef17"]]},{"id":"12d6f894.14ef17","type":"function","z":"b305798e.a0d1c8","name":"OK","func":"var mystate = msg.payload;\nvar mydevice = msg.topic;\nvar mytext = '-->' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":800,"wires":[["55d3acc3.e557a4"]]},{"id":"55d3acc3.e557a4","type":"change","z":"b305798e.a0d1c8","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"input_boolean.general_exhaust","fromt":"str","to":"Exhaustion System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"input_boolean.general_co2","fromt":"str","to":"Co2 System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"input_boolean.general_logger","fromt":"str","to":"Logger System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"input_boolean.terrarium1","fromt":"str","to":"Terrarium 1 General","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":800,"wires":[["2ec3085.ca476f8"]]},{"id":"7a794850.4ab858","type":"server-state-changed","z":"b305798e.a0d1c8","name":"Logger General","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.general_logger","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":780,"wires":[["12d6f894.14ef17"],["12d6f894.14ef17"]]},{"id":"7d50cbe0.8165a4","type":"server-state-changed","z":"b305798e.a0d1c8","name":"Co2 General","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.general_co2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":820,"wires":[["12d6f894.14ef17"],["12d6f894.14ef17"]]},{"id":"dbfd87c7.5860a8","type":"server-state-changed","z":"b305798e.a0d1c8","name":"Exhaust System","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.general_exhaust","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":860,"wires":[["12d6f894.14ef17"],["12d6f894.14ef17"]]},{"id":"9f6f744b.4556c8","type":"api-call-service","z":"d702c63b.736f08","name":"Purifier On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.purifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":330,"y":80,"wires":[["2098eefc.51e372","6b4d104d.454"]]},{"id":"c24e8a22.23ae88","type":"actionflows","z":"d702c63b.736f08","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"loop","prop":"loop","untilprop":0,"until":"gt","loop":"inc0","scope":"global","perf":false,"seq":false,"x":490,"y":120,"wires":[["1f1a379e.f8d7b8"]]},{"id":"2098eefc.51e372","type":"delay","z":"d702c63b.736f08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":80,"wires":[["8ec3402c.42baa"]]},{"id":"bb6a66b3.bd7ba8","type":"delay","z":"d702c63b.736f08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":80,"wires":[["74ff8fca.d861d"]]},{"id":"542023a0.51abdc","type":"api-call-service","z":"d702c63b.736f08","name":"Purifier Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.purifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":80,"wires":[["bb6a66b3.bd7ba8","6b4d104d.454"]]},{"id":"843184d7.733b08","type":"change","z":"d702c63b.736f08","name":"set Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":160,"wires":[["c24e8a22.23ae88"]]},{"id":"1f1a379e.f8d7b8","type":"api-current-state","z":"d702c63b.736f08","name":"Purifier OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":80,"wires":[["9f6f744b.4556c8"],[]]},{"id":"8ec3402c.42baa","type":"api-current-state","z":"d702c63b.736f08","name":"Purifier ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":80,"wires":[["542023a0.51abdc"],[]]},{"id":"74ff8fca.d861d","type":"api-current-state","z":"d702c63b.736f08","name":"Exhaust Syst OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":180,"wires":[["843184d7.733b08"],["c24e8a22.23ae88"]]},{"id":"17557758.026bb9","type":"api-current-state","z":"5166aadc.8a12d4","name":"Exhaustion OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":280,"wires":[["92d06dd6.eada5"],[]]},{"id":"92d06dd6.eada5","type":"api-call-service","z":"5166aadc.8a12d4","name":"Exhaustion On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.exhaustion","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":700,"y":280,"wires":[["4cc0f079.4ba46"]]},{"id":"7812b9fb.b7b078","type":"api-current-state","z":"5166aadc.8a12d4","name":"Exhaustion ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":340,"wires":[["e3459613.2b28e8"],[]]},{"id":"e3459613.2b28e8","type":"api-call-service","z":"5166aadc.8a12d4","name":"Exhaustion Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.exhaustion","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":700,"y":340,"wires":[["4cc0f079.4ba46"]]},{"id":"fbcbcc87.a2289","type":"delay","z":"3fe4ec69.453314","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":140,"wires":[["77b99f4c.b1104"]]},{"id":"7ccd6513.ec445c","type":"delay","z":"3fe4ec69.453314","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":140,"wires":[["4745f47a.195bac"]]},{"id":"ad60f655.1ed7b8","type":"api-call-service","z":"3fe4ec69.453314","name":"Fan Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":780,"y":140,"wires":[["7ccd6513.ec445c","f394c7b8.c3db88"]]},{"id":"77b99f4c.b1104","type":"api-current-state","z":"3fe4ec69.453314","name":"Fan ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":140,"wires":[["ad60f655.1ed7b8"],[]]},{"id":"7ee0d548.f4c16c","type":"api-call-service","z":"3fe4ec69.453314","name":"Fan On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":360,"y":140,"wires":[["fbcbcc87.a2289","f394c7b8.c3db88"]]},{"id":"5154c19.92f004","type":"api-current-state","z":"3fe4ec69.453314","name":"Fan OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":210,"y":140,"wires":[["7ee0d548.f4c16c"],[]]},{"id":"4745f47a.195bac","type":"api-current-state","z":"3fe4ec69.453314","name":"Co2 ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":80,"wires":[["4a21232e.72144c"],["9bbaa3b4.38bb3"]]},{"id":"9bbaa3b4.38bb3","type":"actionflows","z":"3fe4ec69.453314","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"loop","prop":"loop","untilprop":0,"until":"gt","loop":"inc0","scope":"global","perf":false,"seq":false,"x":650,"y":100,"wires":[["5154c19.92f004"]]},{"id":"4a21232e.72144c","type":"change","z":"3fe4ec69.453314","name":"set Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":80,"wires":[["9bbaa3b4.38bb3"]]},{"id":"f5cf51e.9f78eb","type":"link in","z":"3fe4ec69.453314","name":"FanLoopIN","links":["e66e90dd.40583","ccda5da6.8232a"],"x":45,"y":80,"wires":[["d03dea5b.377f98"]]},{"id":"e66e90dd.40583","type":"link out","z":"5166aadc.8a12d4","name":"FanLoopOut","links":["f5cf51e.9f78eb"],"x":215,"y":380,"wires":[]},{"id":"f394c7b8.c3db88","type":"function","z":"3fe4ec69.453314","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":240,"wires":[["715b6893.361a88"]]},{"id":"715b6893.361a88","type":"change","z":"3fe4ec69.453314","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"fanauxiliar","fromt":"str","to":"Auxiliary Fan","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":240,"wires":[["7e61d5f9.de157c"]]},{"id":"7e61d5f9.de157c","type":"link out","z":"3fe4ec69.453314","name":"TelegramOut","links":["f1029ef3.20edd"],"x":855,"y":240,"wires":[]},{"id":"8a68e444.b35bb8","type":"comment","z":"3fe4ec69.453314","name":"Auxiliary Fan Looper","info":"","x":400,"y":20,"wires":[]},{"id":"288e9ea.4ec5e62","type":"delay","z":"3fe4ec69.453314","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":380,"wires":[["f74a9710.1a4ed8"]]},{"id":"20ea28e6.767d88","type":"delay","z":"3fe4ec69.453314","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":380,"wires":[["8ec4d289.89c17"]]},{"id":"5fa84cfc.359144","type":"api-call-service","z":"3fe4ec69.453314","name":"Fan Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":700,"y":380,"wires":[["20ea28e6.767d88","f394c7b8.c3db88"]]},{"id":"f74a9710.1a4ed8","type":"api-current-state","z":"3fe4ec69.453314","name":"Fan ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":380,"wires":[["5fa84cfc.359144"],[]]},{"id":"d33b64f7.e09b38","type":"api-call-service","z":"3fe4ec69.453314","name":"Fan On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":280,"y":380,"wires":[["288e9ea.4ec5e62","f394c7b8.c3db88"]]},{"id":"1973907a.eb6f9","type":"api-current-state","z":"3fe4ec69.453314","name":"Fan OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":130,"y":380,"wires":[["d33b64f7.e09b38"],[]]},{"id":"8ec4d289.89c17","type":"api-current-state","z":"3fe4ec69.453314","name":"Dehumidifier Off?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.dehumidifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":300,"wires":[["a509e55c.fbaef8"],["4196328.58baecc"]]},{"id":"4196328.58baecc","type":"actionflows","z":"3fe4ec69.453314","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"loop","prop":"loop","untilprop":0,"until":"gt","loop":"inc0","scope":"global","perf":false,"seq":false,"x":650,"y":320,"wires":[["1973907a.eb6f9"]]},{"id":"a509e55c.fbaef8","type":"change","z":"3fe4ec69.453314","name":"set Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":300,"wires":[["4196328.58baecc"]]},{"id":"d03dea5b.377f98","type":"api-current-state","z":"3fe4ec69.453314","name":"Led OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.led1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":140,"y":80,"wires":[["8ec4d289.89c17"],["4745f47a.195bac"]]},{"id":"ccda5da6.8232a","type":"link out","z":"38e584a.92a327c","name":"FanLoopOut","links":["f5cf51e.9f78eb"],"x":695,"y":80,"wires":[]}]