Flow Node-Red/Full-flow-FIFUv1.2.json
[{"id":"b5c7de9f.7e7bd","type":"tab","label":"Timers","disabled":false,"info":""},{"id":"b305798e.a0d1c8","type":"tab","label":"General Notifier","disabled":false,"info":""},{"id":"cff7a33a.e6305","type":"tab","label":"Temperature Control","disabled":false,"info":""},{"id":"38e584a.92a327c","type":"tab","label":"Control Humidity","disabled":false,"info":""},{"id":"d702c63b.736f08","type":"tab","label":"Exhaustion System","disabled":false,"info":""},{"id":"5166aadc.8a12d4","type":"tab","label":"Co2 System","disabled":false,"info":""},{"id":"92cf13e3.01318","type":"server","name":"Home Assistant","addon":true},{"id":"8966b541.614eb8","type":"api-call-service","z":"cff7a33a.e6305","name":"Heater ON","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.heating","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":80,"wires":[["68a8346c.a803dc"]]},{"id":"28052ede.003262","type":"api-call-service","z":"cff7a33a.e6305","name":"Heater Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.heating","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":140,"wires":[["68a8346c.a803dc"]]},{"id":"a2f92607.92e118","type":"api-current-state","z":"cff7a33a.e6305","name":"Heater ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.heating","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":140,"wires":[["28052ede.003262"],[]]},{"id":"ca33fc81.d52e1","type":"api-current-state","z":"cff7a33a.e6305","name":"Heater OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.heating","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":80,"wires":[["8966b541.614eb8"],[]]},{"id":"84d057dd.6090b8","type":"comment","z":"cff7a33a.e6305","name":"Control Termperature","info":"","x":360,"y":20,"wires":[]},{"id":"4cf70d4.0cc8af4","type":"server-state-changed","z":"cff7a33a.e6305","name":"Temp. MIN","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.temp_min","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":120,"wires":[["80b3b98b.87ecc8"]]},{"id":"6e5235dd.2c537c","type":"server-state-changed","z":"cff7a33a.e6305","name":"Temp. NOW","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.led1_si7021_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":240,"wires":[["80b3b98b.87ecc8"]]},{"id":"2b65fe84.c5b7b2","type":"server-state-changed","z":"cff7a33a.e6305","name":"Temp. MAX","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.temp_max","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":180,"wires":[["80b3b98b.87ecc8"]]},{"id":"80b3b98b.87ecc8","type":"join","z":"cff7a33a.e6305","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":290,"y":140,"wires":[["30094a37.2f8d76"]]},{"id":"6702cb9a.42afe4","type":"function","z":"cff7a33a.e6305","name":"","func":"var mytemperature = Number(msg.payload[\"sensor.led1_si7021_temperature\"]);\nvar tempmax = Number(msg.payload[\"input_number.temp_max\"]);\nvar tempmin = Number(msg.payload[\"input_number.temp_min\"]);\n\nif(mytemperature > tempmax){\n    return [null, msg, null];\n}\nelse if(mytemperature < tempmin){\n    return [msg, null, null];\n}\nelse if(((mytemperature < (tempmax - 2)) && (mytemperature > tempmin))){\n    return [null, null, msg];\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":300,"y":320,"wires":[["ca33fc81.d52e1","fc0d2f1c.d9872"],["5419af82.25e38","a2f92607.92e118"],["a2f92607.92e118","37ab256c.62254a","fc0d2f1c.d9872"]]},{"id":"446fa548.78d97c","type":"link out","z":"cff7a33a.e6305","name":"","links":["f1029ef3.20edd"],"x":955,"y":220,"wires":[]},{"id":"1acfe874.2a5e28","type":"change","z":"cff7a33a.e6305","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"general_exhaust_co2","fromt":"str","to":"Exhaust System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"heating","fromt":"str","to":"Heater","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"fanauxiliar","fromt":"str","to":"Fan Auxiliary","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":180,"wires":[["446fa548.78d97c"]]},{"id":"68a8346c.a803dc","type":"function","z":"cff7a33a.e6305","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":140,"wires":[["1acfe874.2a5e28"]]},{"id":"fc0d2f1c.d9872","type":"api-current-state","z":"cff7a33a.e6305","name":"Exhaust Syst ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":260,"wires":[["35130ee7.57db62"],[]]},{"id":"5419af82.25e38","type":"api-current-state","z":"cff7a33a.e6305","name":"Exhaust Syst OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":200,"wires":[["124cf575.9df6eb"],[]]},{"id":"124cf575.9df6eb","type":"api-call-service","z":"cff7a33a.e6305","name":"Exhaust Syst ON","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.general_exhaust","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":730,"y":200,"wires":[[]]},{"id":"35130ee7.57db62","type":"api-call-service","z":"cff7a33a.e6305","name":"Exhaust Syst OFF","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.general_exhaust","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":730,"y":260,"wires":[[]]},{"id":"e68593ac.3b9f","type":"api-call-service","z":"d702c63b.736f08","name":"Purifier Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.purifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":630,"y":440,"wires":[["6b4d104d.454"]]},{"id":"7df118fa.47b778","type":"api-call-service","z":"d702c63b.736f08","name":"Exhaustion Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.exhaustion","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":620,"y":500,"wires":[["6b4d104d.454"]]},{"id":"73345fd1.0dfde","type":"api-call-service","z":"d702c63b.736f08","name":"Exhaustion On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.exhaustion","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":480,"y":380,"wires":[["6b4d104d.454","748b1b2f.ef2ff4"]]},{"id":"5e146776.f8c338","type":"delay","z":"d702c63b.736f08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":500,"wires":[["7df118fa.47b778"]]},{"id":"ff8a339f.90b9b","type":"api-current-state","z":"d702c63b.736f08","name":"Purifier ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":440,"wires":[["e68593ac.3b9f"],[]]},{"id":"a31d0e05.62f72","type":"api-current-state","z":"d702c63b.736f08","name":"Exhaustion ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":280,"y":440,"wires":[["ff8a339f.90b9b","5e146776.f8c338"],[]]},{"id":"8c8827a0.b1e088","type":"api-current-state","z":"d702c63b.736f08","name":"Exhaustion OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":380,"wires":[["73345fd1.0dfde"],[]]},{"id":"c19d57dc.4f35c8","type":"comment","z":"d702c63b.736f08","name":"Exaustion System","info":"","x":350,"y":20,"wires":[]},{"id":"6b4d104d.454","type":"function","z":"d702c63b.736f08","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":440,"wires":[["1d08a770.946269"]]},{"id":"1d08a770.946269","type":"change","z":"d702c63b.736f08","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"exhaustion","fromt":"str","to":"Exhaustor","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"purifier","fromt":"str","to":"Purifier","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":400,"wires":[["1da0e32e.267e6d"]]},{"id":"f01553b6.a4724","type":"comment","z":"5166aadc.8a12d4","name":"Co2 System","info":"","x":330,"y":20,"wires":[]},{"id":"1314e203.5d67ce","type":"api-call-service","z":"5166aadc.8a12d4","name":"Co2 On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.co2","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":260,"wires":[["4cc0f079.4ba46"]]},{"id":"ff24531b.a3f24","type":"api-call-service","z":"5166aadc.8a12d4","name":"Co2 Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.co2","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":660,"y":140,"wires":[["4cc0f079.4ba46"]]},{"id":"6d8b7d6.ca09184","type":"api-current-state","z":"5166aadc.8a12d4","name":"Co2 ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":140,"wires":[["ff24531b.a3f24"],[]]},{"id":"67f95ee.d36bfa","type":"api-current-state","z":"5166aadc.8a12d4","name":"Co2 OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":260,"wires":[["1314e203.5d67ce"],[]]},{"id":"927c0012.5139f","type":"server-state-changed","z":"5166aadc.8a12d4","name":"Co2 NOW","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.tasmota_mhz19b_carbondioxide","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":200,"wires":[["20aa35db.2619aa"]]},{"id":"20aa35db.2619aa","type":"join","z":"5166aadc.8a12d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":270,"y":120,"wires":[["6628328b.20c7cc"]]},{"id":"f7e7317a.093ae","type":"function","z":"5166aadc.8a12d4","name":"","func":"var myco2 = Number(msg.payload[\"input_number.co2_manually\"]);\nvar co2max = Number(msg.payload[\"input_number.co2_max\"]);\nvar co2min = Number(msg.payload[\"input_number.co2_min\"]);\n\n\nif(myco2 <= co2min){\n    return [null, msg, null];\n}\nelse if(myco2 > co2max){\n    return [msg, null, null];\n}\nelse if((myco2 < (co2max - 200)) && (myco2 > co2min)){\n    return [null, null, msg];\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":280,"y":360,"wires":[["6d8b7d6.ca09184","6232af96.ae913"],["3ffa0c51.43ecc4","67f95ee.d36bfa","7812b9fb.b7b078"],["6d8b7d6.ca09184","5780eb8f.80a1f4"]]},{"id":"1da0e32e.267e6d","type":"link out","z":"d702c63b.736f08","name":"TelegramOut","links":["f1029ef3.20edd"],"x":935,"y":480,"wires":[]},{"id":"1f2a450a.0e8c3b","type":"link out","z":"5166aadc.8a12d4","name":"TelegramOut","links":["f1029ef3.20edd"],"x":895,"y":260,"wires":[]},{"id":"edcc5c14.56152","type":"change","z":"5166aadc.8a12d4","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"fanauxiliar","fromt":"str","to":"Auxiliary Fan","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"co2","fromt":"str","to":"CO2 System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"Desligado","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"Ligado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":180,"wires":[["1f2a450a.0e8c3b"]]},{"id":"4cc0f079.4ba46","type":"function","z":"5166aadc.8a12d4","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":180,"wires":[["edcc5c14.56152"]]},{"id":"e23d06d9.abab48","type":"server-state-changed","z":"5166aadc.8a12d4","name":"Co2 MIN","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.co2_min","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":80,"wires":[["20aa35db.2619aa"]]},{"id":"b359b052.c1367","type":"server-state-changed","z":"5166aadc.8a12d4","name":"Co2 MAX","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.co2_max","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":140,"wires":[["20aa35db.2619aa"]]},{"id":"37d5194b.6a8246","type":"poll-state","z":"b5c7de9f.7e7bd","name":"Timer On","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"61","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"input_datetime.mytimeon_light1","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":100,"y":80,"wires":[["13d10e.93603ef2"]]},{"id":"13d10e.93603ef2","type":"template","z":"b5c7de9f.7e7bd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ontime {{payload}}","output":"str","x":240,"y":80,"wires":[["7b21f7e4.28d358"]]},{"id":"a2db512a.9829c","type":"poll-state","z":"b5c7de9f.7e7bd","name":"Timer Off","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"61","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"input_datetime.mytimeoff_light1","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":80,"y":200,"wires":[["282b1916.9f65d6"]]},{"id":"282b1916.9f65d6","type":"template","z":"b5c7de9f.7e7bd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"offtime {{payload}}","output":"str","x":240,"y":200,"wires":[["7b21f7e4.28d358"]]},{"id":"7b21f7e4.28d358","type":"schedex","z":"b5c7de9f.7e7bd","name":"Timer","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"07:28","ontopic":"","onpayload":"1","onoffset":0,"onrandomoffset":0,"offtime":"goldenHour","offtopic":"","offpayload":"0","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":110,"y":140,"wires":[["e4266a7.ae12998"]]},{"id":"4a539033.685b2","type":"switch","z":"b5c7de9f.7e7bd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":140,"wires":[["20d33e24.21af72"],["161b3cfa.213403"]]},{"id":"20d33e24.21af72","type":"api-current-state","z":"b5c7de9f.7e7bd","name":"Led ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.led1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":80,"wires":[[],["27fc3623.4062fa"]]},{"id":"161b3cfa.213403","type":"api-current-state","z":"b5c7de9f.7e7bd","name":"Led OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.led1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":200,"wires":[[],["7ae05496.93ad0c"]]},{"id":"27fc3623.4062fa","type":"api-call-service","z":"b5c7de9f.7e7bd","name":"Led1 On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.led1","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":660,"y":80,"wires":[["6f4fad10.4d8e54"]]},{"id":"7ae05496.93ad0c","type":"api-call-service","z":"b5c7de9f.7e7bd","name":"Led1 Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.led1","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":200,"wires":[["6f4fad10.4d8e54"]]},{"id":"e4266a7.ae12998","type":"api-current-state","z":"b5c7de9f.7e7bd","name":"General","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":380,"y":140,"wires":[["4a539033.685b2"],["161b3cfa.213403"]]},{"id":"71a5700a.9d4b6","type":"comment","z":"b5c7de9f.7e7bd","name":"Timer","info":"","x":310,"y":20,"wires":[]},{"id":"2aacf333.3e927c","type":"change","z":"b5c7de9f.7e7bd","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"led1","fromt":"str","to":"Led Light 1","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":140,"wires":[["e1ab5e55.fc3b1"]]},{"id":"6f4fad10.4d8e54","type":"function","z":"b5c7de9f.7e7bd","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":140,"wires":[["2aacf333.3e927c"]]},{"id":"30094a37.2f8d76","type":"api-current-state","z":"cff7a33a.e6305","name":"General","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":280,"y":220,"wires":[["6702cb9a.42afe4"],["a2f92607.92e118","fc0d2f1c.d9872"]]},{"id":"3ffa0c51.43ecc4","type":"api-current-state","z":"5166aadc.8a12d4","name":"Fan ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":200,"wires":[["ef03074d.dc0128"],[]]},{"id":"ef03074d.dc0128","type":"api-call-service","z":"5166aadc.8a12d4","name":"Fan Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":660,"y":200,"wires":[["4cc0f079.4ba46"]]},{"id":"6e510c31.ecaf64","type":"api-current-state","z":"d702c63b.736f08","name":"General","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":120,"y":460,"wires":[["a31d0e05.62f72"],["a31d0e05.62f72"]]},{"id":"ec67df6e.7f5e2","type":"server-state-changed","z":"d702c63b.736f08","name":"Exhaust System","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.general_exhaust","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":100,"y":400,"wires":[["8c8827a0.b1e088"],["6e510c31.ecaf64"]]},{"id":"e1ab5e55.fc3b1","type":"link out","z":"b5c7de9f.7e7bd","name":"","links":["f1029ef3.20edd"],"x":975,"y":140,"wires":[]},{"id":"5ab364cf.7106dc","type":"exec","z":"b305798e.a0d1c8","command":"curl bot.whatismyipaddress.com","addpay":false,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"Call IP - whatismyipaddress.com","x":350,"y":520,"wires":[["e357bad.4611b48"],[],[]]},{"id":"82ac50d6.b1c66","type":"function","z":"b305798e.a0d1c8","name":"Compare IP","func":"context.lastip = context.lastip || 'initial';\nvar currentip = msg.payload;\n\nif (context.lastip == 'initial') {\ncontext.lastip = currentip;\n}\nelse if (context.lastip != currentip) {\ntextoip = \"My IP was changed to: \"+currentip;\ncontext.lastip = currentip;\nreturn {'payload': {'text':textoip}};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":580,"wires":[["2ec3085.ca476f8"]]},{"id":"e357bad.4611b48","type":"switch","z":"b305798e.a0d1c8","name":"Integrity check","property":"payload","rules":[{"t":"regex","v":"\\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\b"},{"t":"else"}],"checkall":"true","outputs":2,"x":580,"y":520,"wires":[["82ac50d6.b1c66"],[]]},{"id":"67c395d7.4e2e2c","type":"comment","z":"b305798e.a0d1c8","name":"Telegram Commands","info":"","x":360,"y":20,"wires":[]},{"id":"f1029ef3.20edd","type":"link in","z":"b305798e.a0d1c8","name":"TelegramIN","links":["1da0e32e.267e6d","1f2a450a.0e8c3b","446fa548.78d97c","7a19f858.e62ba8","e1ab5e55.fc3b1","c04c450e.d21948","7e61d5f9.de157c"],"x":815,"y":660,"wires":[["2ec3085.ca476f8"]]},{"id":"c9dfb02b.05699","type":"comment","z":"b305798e.a0d1c8","name":"Check IP","info":"","x":320,"y":460,"wires":[]},{"id":"910e3954.150968","type":"inject","z":"b305798e.a0d1c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"14400","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":130,"y":520,"wires":[["5ab364cf.7106dc"]]},{"id":"19b9511.d7f26af","type":"telegrambot-command","z":"b305798e.a0d1c8","name":"/status","bot":"","command":"/status","commandType":"str","commandCase":true,"x":70,"y":80,"wires":[["40fe27ed.424688"]]},{"id":"a92216af.c0a0b8","type":"api-current-state","z":"b305798e.a0d1c8","name":"Temperature Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.led1_si7021_temperature","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":160,"wires":[["b968a976.15d6f8"]]},{"id":"303bc131.d3f22e","type":"telegrambot-notify","z":"b305798e.a0d1c8","name":"Notifier","bot":"","chatId":"XXXXXXX","message":"","parseMode":"HTML","x":880,"y":220,"wires":[]},{"id":"1867d303.e4285d","type":"api-current-state","z":"b305798e.a0d1c8","name":"Humidity Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.led1_si7021_humidity","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":100,"y":200,"wires":[["8b92647f.7ebcb8"]]},{"id":"1be8e468.4ddc0c","type":"api-current-state","z":"b305798e.a0d1c8","name":"Led1 Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.led1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":120,"wires":[["a92216af.c0a0b8"]]},{"id":"b968a976.15d6f8","type":"api-current-state","z":"b305798e.a0d1c8","name":"Heater Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.heating","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":110,"y":160,"wires":[["1867d303.e4285d"]]},{"id":"43202bc3.fd4f44","type":"api-current-state","z":"b305798e.a0d1c8","name":"Exhaustion Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"exhaust","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":240,"wires":[["573f48bb.c48538"]]},{"id":"f737321b.0864","type":"api-current-state","z":"b305798e.a0d1c8","name":"General CO2 Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":120,"wires":[["8120cbfb.8a2708"]]},{"id":"8b92647f.7ebcb8","type":"api-current-state","z":"b305798e.a0d1c8","name":"Dehumidifier Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.dehumidifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":90,"y":240,"wires":[["e180966f.5d7bc8"]]},{"id":"8120cbfb.8a2708","type":"api-current-state","z":"b305798e.a0d1c8","name":"Co2 Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":160,"wires":[["e293f287.f7936"]]},{"id":"573f48bb.c48538","type":"api-current-state","z":"b305798e.a0d1c8","name":"Purifier Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"purifier","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":80,"wires":[["f737321b.0864"]]},{"id":"e180966f.5d7bc8","type":"api-current-state","z":"b305798e.a0d1c8","name":"Exhaust System","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"str","state_location":"genexaust","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":200,"wires":[["43202bc3.fd4f44"]]},{"id":"40fe27ed.424688","type":"api-current-state","z":"b305798e.a0d1c8","name":"General Terrarium Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":80,"wires":[["1be8e468.4ddc0c"]]},{"id":"e293f287.f7936","type":"api-current-state","z":"b305798e.a0d1c8","name":"Fan Now","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":200,"wires":[["9ff252d6.2ca46"]]},{"id":"e56c528e.1e418","type":"api-render-template","z":"b305798e.a0d1c8","name":"Template Status","server":"92cf13e3.01318","template":"<b>Status AIF</b>\n---------------------------------------\nTerrário:   |<b>{{ states('input_boolean.terrarium1')}}</b>\nLogger:     |<b>{{ states('input_boolean.general_logger')}}</b>\nLight:      |<b>{{ states('switch.led1')}}</b>\nTemperature:|<b>{{ states('sensor.led1_si7021_temperature') }}</b>\nExhaut. Sys:|<b>{{ states('input_boolean.general_exhaust')}}</b>\nExhaustion: |<b>{{ states('switch.exhaustion')}}</b>\nPurifier:   |<b>{{ states('switch.purifier')}}</b>\nHeater:     |<b>{{ states('switch.heating')}}</b>\nHumidity:   |<b>{{ states('sensor.led1_si7021_humidity')}}</b>\nDehumidifie:|<b>{{ states('switch.dehumidifier')}}</b>\nCo2 System: |<b>{{ states('input_boolean.general_co2')}}</b>\nCo2:        |<b>{{ states('switch.co2')}}</b>\nFan:        |<b>{{ states('switch.fanauxiliar')}}</b>","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":700,"y":80,"wires":[["bbaa34f3.0e4008"]]},{"id":"beda141b.cf5eb8","type":"comment","z":"38e584a.92a327c","name":"Control Humidity","info":"","x":340,"y":20,"wires":[]},{"id":"367e2117.1de95e","type":"server-state-changed","z":"38e584a.92a327c","name":"Humi Target","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.humid_target","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":240,"wires":[["2350a9f3.b9d8f6"]]},{"id":"a8544e42.3829d","type":"server-state-changed","z":"38e584a.92a327c","name":"Humi Toler","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.humid_tolerance","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":300,"wires":[["2350a9f3.b9d8f6"]]},{"id":"317c3f5f.7ac22","type":"server-state-changed","z":"38e584a.92a327c","name":"Humi NOW","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.led1_si7021_humidity","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":360,"wires":[["2350a9f3.b9d8f6"]]},{"id":"5c35bb8a.ded654","type":"api-current-state","z":"38e584a.92a327c","name":"Dehumidifier OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.dehumidifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":240,"wires":[["92773cbc.50531"],[]]},{"id":"93b385fe.60bba8","type":"api-current-state","z":"38e584a.92a327c","name":"Dehumidifier ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.dehumidifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":360,"wires":[["48496c93.d360b4","7ba1834d.4dafac"],[]]},{"id":"92773cbc.50531","type":"api-call-service","z":"38e584a.92a327c","name":"Dehumidifier On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.dehumidifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":560,"y":240,"wires":[["d9e50446.e13668","df6d339a.ba07f"]]},{"id":"48496c93.d360b4","type":"api-call-service","z":"38e584a.92a327c","name":"Dehumidifier Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.dehumidifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":520,"y":360,"wires":[["d9e50446.e13668"]]},{"id":"2350a9f3.b9d8f6","type":"join","z":"38e584a.92a327c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":230,"y":300,"wires":[["be02618c.a087"]]},{"id":"d9e85d66.0972a","type":"function","z":"38e584a.92a327c","name":"","func":"var humid = Number(msg.payload[\"sensor.led1_si7021_humidity\"]);\nvar humidtarget = Number(msg.payload[\"input_number.humid_target\"]);\nvar humidtolerance = Number(msg.payload[\"input_number.humid_tolerance\"]);\nvar humidup = (humidtarget + humidtolerance);\nvar humiddown = (humidtarget - humidtolerance);\n\nif (humid > humidup) {\n    return [msg, null, null];\n}if (humid < humiddown) {\n    return [null, msg, null];\n}\nif ((humid > humiddown) && (humid < humidup - 1)) {\n    return [null, null, msg];\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":520,"y":300,"wires":[["5c35bb8a.ded654"],["93b385fe.60bba8"],["93b385fe.60bba8"]]},{"id":"d9e50446.e13668","type":"function","z":"38e584a.92a327c","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":300,"wires":[["a1c81d43.e8c08"]]},{"id":"a1c81d43.e8c08","type":"change","z":"38e584a.92a327c","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"dehumidifier","fromt":"str","to":"Dehumidifier","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":340,"wires":[["7a19f858.e62ba8"]]},{"id":"be02618c.a087","type":"api-current-state","z":"38e584a.92a327c","name":"General","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.terrarium1","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":360,"y":300,"wires":[["d9e85d66.0972a"],["93b385fe.60bba8"]]},{"id":"7a19f858.e62ba8","type":"link out","z":"38e584a.92a327c","name":"","links":["581ac627.fc1328","b0c51313.de2ae","f1029ef3.20edd"],"x":735,"y":380,"wires":[]},{"id":"3b193f79.2b8ef","type":"telegrambot-payload","z":"b305798e.a0d1c8","name":"Notifier","bot":"","chatId":"","sendMethod":"sendMessage","payload":"","x":860,"y":320,"wires":[[]]},{"id":"37ab256c.62254a","type":"api-current-state","z":"cff7a33a.e6305","name":"General Co2 ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_co2","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":530,"y":340,"wires":[[],[]]},{"id":"2ec3085.ca476f8","type":"api-current-state","z":"b305798e.a0d1c8","name":"Logger ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_logger","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":850,"y":520,"wires":[["3b193f79.2b8ef"],[]]},{"id":"4d1f5d77.e11904","type":"telegrambot-command","z":"b305798e.a0d1c8","name":"/logon","bot":"","command":"/logon","commandType":"str","commandCase":false,"x":70,"y":320,"wires":[["90a2658c.4644e8"]]},{"id":"45511a9e.c99ba4","type":"telegrambot-command","z":"b305798e.a0d1c8","name":"/logoff","bot":"","command":"/logoff","commandType":"str","commandCase":false,"x":70,"y":360,"wires":[["90a2658c.4644e8"]]},{"id":"90a2658c.4644e8","type":"switch","z":"b305798e.a0d1c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"/logon","vt":"str"},{"t":"eq","v":"/logoff","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":340,"wires":[["21fbc62b.1beb4a"],["39080e0b.b7ccf2"]]},{"id":"21fbc62b.1beb4a","type":"api-call-service","z":"b305798e.a0d1c8","name":"Logger ON","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.general_logger","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":330,"y":320,"wires":[["58ec6825.8ecbe8"]]},{"id":"39080e0b.b7ccf2","type":"api-call-service","z":"b305798e.a0d1c8","name":"Logger OFF","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.general_logger","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":330,"y":360,"wires":[["58ec6825.8ecbe8"]]},{"id":"9ff252d6.2ca46","type":"api-current-state","z":"b305798e.a0d1c8","name":"Logger","server":"92cf13e3.01318","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_logger","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":240,"wires":[["e56c528e.1e418"]]},{"id":"58ec6825.8ecbe8","type":"function","z":"b305798e.a0d1c8","name":"OK","func":"var mystate = msg.payload.service.split('_')[1];\nvar mydevice = msg.payload.data.entity_id.split('.')[1];\nvar mytext = '--> ' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":340,"wires":[["bfdf63af.1a66b"]]},{"id":"bfdf63af.1a66b","type":"change","z":"b305798e.a0d1c8","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"general_logger","fromt":"str","to":"Logger System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":340,"wires":[["3b193f79.2b8ef"]]},{"id":"bbaa34f3.0e4008","type":"api-current-state","z":"b305798e.a0d1c8","name":"Logger ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_logger","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":710,"y":120,"wires":[["303bc131.d3f22e"],[]]},{"id":"7dddedee.e87b74","type":"comment","z":"b305798e.a0d1c8","name":"General","info":"","x":310,"y":640,"wires":[]},{"id":"2698dbda.f7cd44","type":"server-state-changed","z":"b305798e.a0d1c8","name":"Terrarium1General","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.terrarium1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":680,"wires":[["12d6f894.14ef17"]]},{"id":"12d6f894.14ef17","type":"function","z":"b305798e.a0d1c8","name":"OK","func":"var mystate = msg.payload;\nvar mydevice = msg.topic;\nvar mytext = '-->' + mydevice + ' está ' + mystate + ' ! ';\nreturn {'payload': {'text':mytext}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":740,"wires":[["55d3acc3.e557a4"]]},{"id":"55d3acc3.e557a4","type":"change","z":"b305798e.a0d1c8","name":"PrettyNames","rules":[{"t":"change","p":"payload.text","pt":"msg","from":"input_boolean.general_exhaust","fromt":"str","to":"Exhaustion System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"input_boolean.general_co2","fromt":"str","to":"Co2 System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"input_boolean.general_logger","fromt":"str","to":"Logger System","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"input_boolean.terrarium1","fromt":"str","to":"Terrarium 1 General","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"off","fromt":"str","to":"OFF","tot":"str"},{"t":"change","p":"payload.text","pt":"msg","from":"on","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":740,"wires":[["3b193f79.2b8ef"]]},{"id":"7a794850.4ab858","type":"server-state-changed","z":"b305798e.a0d1c8","name":"Logger General","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.general_logger","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":720,"wires":[["12d6f894.14ef17"]]},{"id":"7d50cbe0.8165a4","type":"server-state-changed","z":"b305798e.a0d1c8","name":"Co2 General","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.general_co2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":760,"wires":[["12d6f894.14ef17"]]},{"id":"dbfd87c7.5860a8","type":"server-state-changed","z":"b305798e.a0d1c8","name":"Exhaust System","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.general_exhaust","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":800,"wires":[["12d6f894.14ef17"]]},{"id":"7812b9fb.b7b078","type":"api-current-state","z":"5166aadc.8a12d4","name":"Exhaustion ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":380,"wires":[["e3459613.2b28e8"],[]]},{"id":"e3459613.2b28e8","type":"api-call-service","z":"5166aadc.8a12d4","name":"Exhaustion Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.exhaustion","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":760,"y":380,"wires":[["aa576581.2e04c8"]]},{"id":"99a621c5.21e19","type":"api-call-service","z":"38e584a.92a327c","name":"FanAux On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":80,"wires":[["33c7995.f954566"]]},{"id":"33c7995.f954566","type":"delay","z":"38e584a.92a327c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":80,"wires":[["4d12b067.625dc"]]},{"id":"cd4271be.25282","type":"api-call-service","z":"38e584a.92a327c","name":"FanAux Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":420,"wires":[["d9e50446.e13668"]]},{"id":"7ba1834d.4dafac","type":"api-current-state","z":"38e584a.92a327c","name":"FanAux ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":370,"y":420,"wires":[["cd4271be.25282"],[]]},{"id":"65e7e3a6.a2ac8c","type":"api-current-state","z":"38e584a.92a327c","name":"FanAux OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":160,"y":80,"wires":[["99a621c5.21e19"],[]]},{"id":"2138895f.d30216","type":"delay","z":"38e584a.92a327c","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":160,"wires":[["df6d339a.ba07f"]]},{"id":"5f7dbe33.b38b4","type":"api-call-service","z":"38e584a.92a327c","name":"FanAux Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":160,"wires":[["2138895f.d30216"]]},{"id":"4d12b067.625dc","type":"api-current-state","z":"38e584a.92a327c","name":"FanAux ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":170,"y":160,"wires":[["5f7dbe33.b38b4"],[]]},{"id":"4acfa7ec.5b47b8","type":"api-current-state","z":"5166aadc.8a12d4","name":"General Co2 ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_co2","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":270,"y":200,"wires":[["ac06442e.cd0258"],["6d8b7d6.ca09184"]]},{"id":"df6d339a.ba07f","type":"api-current-state","z":"38e584a.92a327c","name":"Dehumidifier ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.dehumidifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":770,"y":220,"wires":[["65e7e3a6.a2ac8c"],["7ba1834d.4dafac"]]},{"id":"75dabf79.f0ecd","type":"api-call-service","z":"5166aadc.8a12d4","name":"FanAux On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":440,"wires":[["7a997ba9.d0ffd4"]]},{"id":"7a997ba9.d0ffd4","type":"delay","z":"5166aadc.8a12d4","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":440,"wires":[["2e426b55.e754c4"]]},{"id":"5d8198a6.2735f8","type":"api-current-state","z":"5166aadc.8a12d4","name":"FanAux OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":580,"y":440,"wires":[["75dabf79.f0ecd"],[]]},{"id":"af453111.0c3dd","type":"delay","z":"5166aadc.8a12d4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":500,"wires":[["5780eb8f.80a1f4"]]},{"id":"2b8dd3b3.6678bc","type":"api-call-service","z":"5166aadc.8a12d4","name":"FanAux Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.fanauxiliar","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":500,"wires":[["af453111.0c3dd"]]},{"id":"2e426b55.e754c4","type":"api-current-state","z":"5166aadc.8a12d4","name":"FanAux ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fanauxiliar","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":590,"y":500,"wires":[["2b8dd3b3.6678bc"],[]]},{"id":"5780eb8f.80a1f4","type":"api-current-state","z":"5166aadc.8a12d4","name":"CO2 OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.co2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":460,"wires":[["5d8198a6.2735f8"],["3ffa0c51.43ecc4"]]},{"id":"6232af96.ae913","type":"api-current-state","z":"5166aadc.8a12d4","name":"Exhaust Syst OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":320,"wires":[["8006c509.4b6418"],[]]},{"id":"8006c509.4b6418","type":"api-call-service","z":"5166aadc.8a12d4","name":"Exhaust Syst ON","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.general_exhaust","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":750,"y":320,"wires":[[]]},{"id":"aa576581.2e04c8","type":"api-current-state","z":"5166aadc.8a12d4","name":"Purifier ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":930,"y":380,"wires":[["4f4fee0e.2370b"],[]]},{"id":"4f4fee0e.2370b","type":"api-call-service","z":"5166aadc.8a12d4","name":"Purifier Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.purifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":380,"wires":[[]]},{"id":"ac06442e.cd0258","type":"api-current-state","z":"5166aadc.8a12d4","name":"Exhaust Syst ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.general_exhaust","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":270,"y":260,"wires":[[],["f7e7317a.093ae"]]},{"id":"6628328b.20c7cc","type":"api-current-state","z":"5166aadc.8a12d4","name":"Led ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.led1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":260,"y":160,"wires":[["4acfa7ec.5b47b8"],["6d8b7d6.ca09184"]]},{"id":"3818802d.91eb7","type":"server-state-changed","z":"5166aadc.8a12d4","d":true,"name":"co2 man","server":"92cf13e3.01318","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.co2_manually","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":260,"wires":[["20aa35db.2619aa"]]},{"id":"a66d8d83.10647","type":"api-call-service","z":"d702c63b.736f08","name":"Purifier On","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.purifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":270,"y":100,"wires":[["1ec735ee.15df1a","6b4d104d.454"]]},{"id":"4e309f7b.0a00c","type":"actionflows","z":"d702c63b.736f08","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"loop","prop":"loop","untilprop":0,"until":"gt","loop":"inc0","scope":"global","perf":false,"seq":false,"x":330,"y":160,"wires":[["9e8807e1.631be8"]]},{"id":"1ec735ee.15df1a","type":"delay","z":"d702c63b.736f08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":100,"wires":[["7db2b0c5.9eb52"]]},{"id":"d7a9950e.e48628","type":"delay","z":"d702c63b.736f08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":100,"wires":[["748b1b2f.ef2ff4"]]},{"id":"efbc6a4d.b59fe8","type":"api-call-service","z":"d702c63b.736f08","name":"Purifier Off","server":"92cf13e3.01318","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.purifier","data":"","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":750,"y":100,"wires":[["d7a9950e.e48628","6b4d104d.454"]]},{"id":"81b48b73.c11b78","type":"change","z":"d702c63b.736f08","name":"set Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":220,"wires":[["4e309f7b.0a00c"]]},{"id":"9e8807e1.631be8","type":"api-current-state","z":"d702c63b.736f08","name":"Purifier OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":100,"y":100,"wires":[["a66d8d83.10647"],[]]},{"id":"7db2b0c5.9eb52","type":"api-current-state","z":"d702c63b.736f08","name":"Purifier ON?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.purifier","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":100,"wires":[["efbc6a4d.b59fe8"],[]]},{"id":"748b1b2f.ef2ff4","type":"api-current-state","z":"d702c63b.736f08","name":"Exhaustion OFF?","server":"92cf13e3.01318","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.exhaustion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":210,"y":260,"wires":[["81b48b73.c11b78"],["4e309f7b.0a00c"]]}]